openapi: 3.0.1
info:
  title: Foreign Exchange Rates Offers Data API API
  description: Retrieve offer data available to the caller, filtered by various offer attributes such as merchant, category, location, and date range.
  version: '1'
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox server
security: []
tags:
- name: Offers Data API
  description: Retrieve offer data available to the caller, filtered by various offer attributes such as merchant, category, location, and date range.
paths:
  /vmorc/offers/v1/all:
    get:
      operationId: getAllOffers
      summary: Get All Offers
      description: Retrieves all available merchant offers. Results can be filtered by various attributes including merchant, category, country, and offer type.
      tags:
      - Offers Data API
      parameters:
      - name: language
        in: query
        description: Language code for offer content
        schema:
          type: string
          default: en-us
      - name: start_index
        in: query
        description: Starting index for pagination
        schema:
          type: integer
      - name: max_offers
        in: query
        description: Maximum number of offers to return
        schema:
          type: integer
      - name: category
        in: query
        description: Offer category filter
        schema:
          type: string
      - name: country
        in: query
        description: Country code filter
        schema:
          type: integer
      - name: merchant
        in: query
        description: Merchant name filter
        schema:
          type: string
      responses:
        '200':
          description: Offers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /vmorc/offers/v1/byofferid:
    get:
      operationId: getOfferById
      summary: Get Offer By ID
      description: Retrieves detailed information about a specific merchant offer identified by its offer ID.
      tags:
      - Offers Data API
      parameters:
      - name: offerid
        in: query
        required: true
        description: Unique identifier of the offer
        schema:
          type: integer
      - name: language
        in: query
        description: Language code for offer content
        schema:
          type: string
          default: en-us
      responses:
        '200':
          description: Offer retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailResponse'
        '401':
          description: Unauthorized
        '404':
          description: Offer not found
  /vmorc/offers/v1/byfilter:
    get:
      operationId: getOffersByFilter
      summary: Get Offers By Filter
      description: Retrieves merchant offers filtered by specified criteria such as business segment, card product type, and promotion channel.
      tags:
      - Offers Data API
      parameters:
      - name: language
        in: query
        description: Language code for offer content
        schema:
          type: string
          default: en-us
      - name: business_segment
        in: query
        description: Business segment filter
        schema:
          type: integer
      - name: card_product_type
        in: query
        description: Card product type filter
        schema:
          type: string
      - name: promotion_channel
        in: query
        description: Promotion channel filter
        schema:
          type: string
      - name: start_index
        in: query
        description: Starting index for pagination
        schema:
          type: integer
      - name: max_offers
        in: query
        description: Maximum number of offers to return
        schema:
          type: integer
      responses:
        '200':
          description: Offers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    OffersResponse:
      type: object
      properties:
        totalFoundResults:
          type: integer
          description: Total number of offers matching the criteria
        returnedResults:
          type: integer
          description: Number of offers returned in this response
        offers:
          type: array
          description: List of merchant offers
          items:
            $ref: '#/components/schemas/Offer'
    OfferDetailResponse:
      type: object
      properties:
        offer:
          $ref: '#/components/schemas/Offer'
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error description
    Offer:
      type: object
      properties:
        offerId:
          type: integer
          description: Unique identifier for the offer
        offerTitle:
          type: string
          description: Title of the offer
        offerShortDescription:
          type: string
          description: Short description of the offer
        offerLongDescription:
          type: string
          description: Detailed description of the offer
        merchantName:
          type: string
          description: Name of the merchant providing the offer
        merchantAddress:
          type: string
          description: Address of the merchant
        category:
          type: string
          description: Category of the offer
        validityStartDate:
          type: string
          format: date
          description: Date when the offer becomes valid
        validityEndDate:
          type: string
          format: date
          description: Date when the offer expires
        redemptionUrl:
          type: string
          format: uri
          description: URL for offer redemption
        imageUrl:
          type: string
          format: uri
          description: URL of the offer image
        termsAndConditions:
          type: string
          description: Terms and conditions for the offer
        countryCode:
          type: string
          description: Country code where the offer is valid
        promotionChannel:
          type: string
          description: Channel through which the offer is promoted
x-tagGroups:
- name: API Reference
  tags:
  - Foreign Exchange Rates API
