openapi: 3.2.0
info:
  title: Visa Supplier Matching Service API
  description: The Visa Supplier Matching Service is the fast, efficient way to identify suppliers that accept Visa Commercial payment products, so you can reduce time-consuming and labor-intensive paper-based invoice processing and check writing.null
  version: '1'
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox server
security: []
tags:
- name: Visa Supplier Matching Service API
  description: Visa Supplier Matching Service
paths:
  /visasuppliermatchingservice/v1/search:
    post:
      tags:
      - Visa Supplier Matching Service API
      summary: Match suppliers to Visa merchants
      description: Match suppliers to Visa merchants
      operationId: Match suppliers to Visa merchants
      parameters:
      - name: supplierName
        in: query
        description: Name of the Supplier
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: supplierStreetAddress
        in: query
        description: Address of Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: supplierCity
        in: query
        description: City of the Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: supplierState
        in: query
        description: State of the Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: supplierPostalCode
        in: query
        description: Postal Code of the Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: supplierCountryCode
        in: query
        description: Country Code of the Supplier<br><br>Refer to <a href="/request_response_codes#iso_country_and_currency_codes">ISO Country Codes</a>
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: supplierPhoneNumber
        in: query
        description: Phone number of the Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: supplierTaxId
        in: query
        description: Tax Id of the Supplier
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      statusCode:
                        type: string
                      statusDescription:
                        type: string
                  matchStatus:
                    type: string
                  matchDetails:
                    type: object
                    properties:
                      l2:
                        type: string
                      l3s:
                        type: string
                      mcc:
                        type: string
                      l3li:
                        type: string
                      fleetInd:
                        type: string
                  matchConfidence:
                    type: string
              examples:
                Default:
                  summary: Default
                  value:
                    matchConfidence: High
                    matchStatus: 'Yes'
                    matchDetails:
                      l3li: ''
                      l2: ''
                      fleetInd: ''
                      mcc: '3501'
                      l3s: ''
                    status:
                      statusDescription: Request successfully received
                      statusCode: SMSAPI000
      x-operationVersions:
      - label: v1 - Latest
        operationPointer: '#/paths/~1visasuppliermatchingservice~1v1~1search/post'
        default: false
      x-hideTryIt: true
x-tagGroups:
- name: API Reference
  tags:
  - Visa Supplier Matching Service API
  - Visa Supplier Matching Service Bulk API
