openapi: 3.2.0
info:
  title: Visa Transaction Controls Alerts Preference Management API
  description: The Visa Transaction Controls (VTC) API enables issuers to offer their cardholders the ability to set spending rules and receive real-time alerts on their Visa payment cards. Cardholders can define rules to block or alert on specific transaction types, merchant categories, geographic locations, spending thresholds, and more.
  version: '1'
  contact:
    name: Visa Developer Support
    url: https://developer.visa.com/support
  termsOfService: https://developer.visa.com/capabilities/vctc/product-terms
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox Server
- url: https://api.visa.com
  description: Production Server
security:
- mutualTLS: []
tags:
- name: Alerts Preference Management API
  description: Manage cardholder alert delivery preferences including mobile numbers, email addresses, and device identifiers for notification delivery.
paths:
  /vctc/alertspreference/v1/managealertspreference:
    post:
      operationId: manageAlertsPreference
      summary: Manage Alerts Preference
      description: Configures the cardholder's alert delivery preferences including mobile number, email address, and device identifiers that Visa will use to send all alert notifications.
      tags:
      - Alerts Preference Management API
      requestBody:
        description: Alert preference configuration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertsPreferenceRequest'
      responses:
        '200':
          description: Alert preferences configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsPreferenceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error description
    AlertsPreferenceRequest:
      type: object
      required:
      - primaryAccountNumber
      properties:
        primaryAccountNumber:
          type: string
          description: Primary account number
        mobileNumber:
          type: string
          description: Mobile number for SMS alerts in E.164 format
        emailAddress:
          type: string
          format: email
          description: Email address for alert delivery
        deviceId:
          type: string
          description: Device identifier for push notifications
        alertDeliveryChannel:
          type: string
          description: Preferred alert delivery channel
          enum:
          - SMS
          - EMAIL
          - PUSH
    AlertsPreferenceResponse:
      type: object
      properties:
        status:
          type: string
          description: Preference configuration status
        alertDeliveryChannel:
          type: string
          description: Configured delivery channel
  securitySchemes:
    mutualTLS:
      type: mutualTLS
      description: Two-way SSL mutual authentication using a PKI certificate issued by Visa.
externalDocs:
  description: Visa Transaction Controls Documentation
  url: https://developer.visa.com/capabilities/vctc/docs
