openapi: 3.2.0
info:
  title: Visa Merchant Offers Resource Center Reference Data API
  description: The Visa Merchant Offers Resource Center (VMORC) API provides developers a quick and easy way to retrieve offer information from Visa's central offer repository. VMORC is a multilingual application used to store and distribute merchant offers, providing access to the latest offers as soon as they become available.
  version: '1'
  contact:
    name: Visa Developer Support
    url: https://developer.visa.com/support
  termsOfService: https://developer.visa.com/capabilities/vmorc/product-terms
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox Server
- url: https://api.visa.com
  description: Production Server
security:
- mutualTLS: []
tags:
- name: Reference Data API
  description: Retrieve reference data values used for offer filtering criteria including merchant categories, countries, and offer types.
paths:
  /vmorc/referencedata/v1/categories:
    get:
      operationId: getCategories
      summary: Get Offer Categories
      description: Retrieves the list of available offer categories used for filtering offers.
      tags:
      - Reference Data API
      parameters:
      - name: language
        in: query
        description: Language code
        schema:
          type: string
          default: en-us
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
        '401':
          description: Unauthorized
  /vmorc/referencedata/v1/countries:
    get:
      operationId: getCountries
      summary: Get Countries
      description: Retrieves the list of countries where merchant offers are available.
      tags:
      - Reference Data API
      parameters:
      - name: language
        in: query
        description: Language code
        schema:
          type: string
          default: en-us
      responses:
        '200':
          description: Countries retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '401':
          description: Unauthorized
  /vmorc/referencedata/v1/merchants:
    get:
      operationId: getMerchants
      summary: Get Merchants
      description: Retrieves the list of merchants that have offers available in the VMORC system.
      tags:
      - Reference Data API
      parameters:
      - name: language
        in: query
        description: Language code
        schema:
          type: string
          default: en-us
      responses:
        '200':
          description: Merchants retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    CountriesResponse:
      type: object
      properties:
        countries:
          type: array
          description: List of countries with available offers
          items:
            type: object
            properties:
              countryId:
                type: integer
                description: Unique identifier for the country
              countryName:
                type: string
                description: Name of the country
              countryCode:
                type: string
                description: ISO country code
    MerchantsResponse:
      type: object
      properties:
        merchants:
          type: array
          description: List of merchants with available offers
          items:
            type: object
            properties:
              merchantId:
                type: integer
                description: Unique identifier for the merchant
              merchantName:
                type: string
                description: Name of the merchant
    CategoriesResponse:
      type: object
      properties:
        categories:
          type: array
          description: List of offer categories
          items:
            type: object
            properties:
              categoryId:
                type: integer
                description: Unique identifier for the category
              categoryName:
                type: string
                description: Display name of the category
  securitySchemes:
    mutualTLS:
      type: mutualTLS
      description: Two-way SSL mutual authentication using a PKI certificate issued by Visa.
externalDocs:
  description: VMORC Documentation
  url: https://developer.visa.com/capabilities/vmorc/docs
