openapi: 3.0.1
info:
  title: Visa In-App Provisioning
  description: ''
  version: '1'
servers:
  - url: https://sandbox.api.visa.com
    description: Sandbox server
security: []
tags:
  - name: In-App Provisioning for Apple Pay
    description: In-App Provisioning for Apple Pay
  - name: In-App Provisioning for Google Pay
    description: In-App Provisioning for Google Pay
  - name: In-App Provisioning for Samsung Pay
    description: In-App Provisioning for Samsung Pay
  - name: Universal Card Enrollment
    description: Universal Card Enrollment
paths:
  /inapp/provisioning/cardData/applePay:
    post:
      tags:
        - In-App Provisioning for Apple Pay
      summary: Create Card Data Apple Pay
      description: >-
        Card data for provisioning a Visa Token in ApplePay using vCardId or
        encrypted card as input
      operationId: provisionForApplePayUsingPOST
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: >-
          Create Card Data for ApplePay provisioning using vCardID or Encrypted
          Card.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayProvisioningRequest'
            examples:
              Default:
                summary: Default
                value:
                  vCardID: v-123-b25dd0af-2960-420b-8aaa-49b3e466c00f
                  deviceCert: >-
                    MIID/TCCA6OgAwIBAgIIMq/qUa9Z2nMwCgYIKoZIzj0EAwIwgYAxNDAyBgNVBAMMK0FwcGxlIFdvcmxkd2lkZSBEZXZlbG9wZXIgUmVsYXRpb25zIENBIC0gRzIxJjAkBgNVBAsMHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRMwEQYDVQQKDApBcHBsZSBJbmMuMQswCQYDVQQGEwJVUzAeFw0xODA2MDEyMjAzMTBaFw0yMDA2MzAyMjAzMTBaMGwxNTAzBgNVBAMMLGVjYy1jcnlwdG8tc2VydmljZXMtZW5jaXBoZXJtZW50X1VDNi1TQU5EQk9YMREwDwYDVQQLDAhBcHBsZVBheTETMBEGA1UECgwKQXBwbGUgSW5jLjELMAkGA1UEBhMCVVMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATGiJjmEMmvOZBGj+tdj2ED7xnc9y1C0vNVaqZva7lvKkbgrfcWdo0/NdIJZ5wDcZ0eBtPuRJ+q/eSP9FLXQ19wo4ICGDCCAhQwDAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBSEtoTMOoZichZZlOgao71I3zrfCzBHBggrBgEFBQcBAQQ7MDkwNwYIKwYBBQUHMAGGK2h0dHA6Ly9vY3NwLmFwcGxlLmNvbS9vY3NwMDMtYXBwbGV3d2RyY2EyMDUwggEdBgNVHSAEggEUMIIBEDCCAQwGCSqGSIb3Y2QFATCB/jCBwwYIKwYBBQUHAgIwgbYMgbNSZWxpYW5jZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2VwdGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQgY29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlmaWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjA2BggrBgEFBQcCARYqaHR0cDovL3d3dy5hcHBsZS5jb20vY2VydGlmaWNhdGVhdXRob3JpdHkvMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly9jcmwuYXBwbGUuY29tL2FwcGxld3dkcmNhMi5jcmwwHQYDVR0OBBYEFMNruSHk5gH1LauD+wBI/9sgl/VpMA4GA1UdDwEB/wQEAwIDKDASBgkqhkiG92NkBicBAf8EAgUAMAoGCCqGSM49BAMCA0gAMEUCIQDhL+sL9bcrvAVO3UvswA805EHujfL7iVDrbEuJfOSJoAIgBPKehtuILl9x/SJ5kxReiml1zkJqUB8nTy0UOfUNIIQ=
                  nonceSignature: >-
                    QHuLYArUCO2OZevP0rHc99g9RJp4O1dgsZuVpUdlA7zPWqCDhVQo9Mxr1uPS6GVyjZYo3YElIhHRV4Mv3wEJ3hGOaxK1gResup88QWDK1fL0
                  encCard: >-
                    eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
                  nonce: kauVuA==
                  tokenServiceProvider: V
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayProvisioningResponse'
              example:
                vCardID: v-123-b25dd0af-2960-420b-8aaa-49b3e466c00f
                activationData: >-
                  TUJQQUMtMS1GSy00MDEyMDAuMS0tVERFQS1CMEQwQjcxNDNFN0M1QTc3M0I5MTc1OTA3RENCMUEzRUNCRENCQjJEMzI2MDBEOEY4RTU5OEI5QzE4OTlGNzA3RjFCMDQ2RDY3RDNDREUwMg==
                encryptedPassData: >-
                  V3bICnkm37BmBKEF9FAKK2zh2SvLhe6PqjvJaHS2t0eJaKVL/SfQ8mXOkDN7o4h7ayFmSuBy7A4R9uYWqWdZbo7fc0xOcsQLCgwQdVkW90JHAgL6j9axg26+OxrWyo7T9qm6NBlZzQFAy1oqYmw1tq6QMAEfbv7W6omlZMojl7aJjvzETINq/YXY8Xp76hoMQFsNDpnNfFuAONmCaCm5Vd6a1zW4ULI0SC1OPo8SdiEULTtZQO1XwiMtbD31JkSUhvHAEP2uo9bEeytPQwr82u6lxzzjLhBP30JByQeOJ2y2o/k83XNGanZhlR1yojp9gObw6m/wyj/rfGxMFVhZtzDVFDblgp1NzvCkPx0iyMRTURGLLmzyrLpzwVGIqv39GorEesOL1KtHb15KuwCtawdej3QiL95rPRTW58stEr/PxLh3Bp9AjlV07tJTXdrKNz357j8hLo1AmRv2p8prnZDF0A0j3jn71P68kvwvWhvZ3F+R0sNuC+E16IV1sJrWIlChU4NvcmsLBsv+ewsFqqGquDlpbFc3LuCQhE9PUu6wEGa7Im4e+Cbk79tcg+ZYFS1X4W7sAWLlxM0JzTMWdzSkqydLjiVc9FvoM3gBFrm/1rs7I5CACNg0vyHpXDhPFTM3a9eysWef7qRdTxLIA7CUKDx59r4VTWtGijz1Pwb5uZCnYvZd3i/+T7ra4xZ+9Z6u/nCqfWkZxNTfEfc3NOXte8s=
                ephemeralPublicKey: >-
                  BBSV6JzHhqoS0pLO6xMV6Z5yRhoOnpxaLtdjHxb7pPXpmNGra65K3kvUnlwfRTkWjA7v2+rp+/sK/RhLqLdEGok=
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >-
            Name on Card not Available. The card referenced in this request is
            already enrolled but has no nameOnCard value. And, there is no
            Customer associated with this card so that the nameOnCard can not be
            derived from Customer name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        nonce: kauVuA==
        encCard: >-
          eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
        vCardID: v-123-b25dd0af-2960-420b-8aaa-49b3e466c00f
        deviceCert: >-
          MIID/TCCA6OgAwIBAgIIMq/qUa9Z2nMwCgYIKoZIzj0EAwIwgYAxNDAyBgNVBAMMK0FwcGxlIFdvcmxkd2lkZSBEZXZlbG9wZXIgUmVsYXRpb25zIENBIC0gRzIxJjAkBgNVBAsMHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRMwEQYDVQQKDApBcHBsZSBJbmMuMQswCQYDVQQGEwJVUzAeFw0xODA2MDEyMjAzMTBaFw0yMDA2MzAyMjAzMTBaMGwxNTAzBgNVBAMMLGVjYy1jcnlwdG8tc2VydmljZXMtZW5jaXBoZXJtZW50X1VDNi1TQU5EQk9YMREwDwYDVQQLDAhBcHBsZVBheTETMBEGA1UECgwKQXBwbGUgSW5jLjELMAkGA1UEBhMCVVMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATGiJjmEMmvOZBGj+tdj2ED7xnc9y1C0vNVaqZva7lvKkbgrfcWdo0/NdIJZ5wDcZ0eBtPuRJ+q/eSP9FLXQ19wo4ICGDCCAhQwDAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBSEtoTMOoZichZZlOgao71I3zrfCzBHBggrBgEFBQcBAQQ7MDkwNwYIKwYBBQUHMAGGK2h0dHA6Ly9vY3NwLmFwcGxlLmNvbS9vY3NwMDMtYXBwbGV3d2RyY2EyMDUwggEdBgNVHSAEggEUMIIBEDCCAQwGCSqGSIb3Y2QFATCB/jCBwwYIKwYBBQUHAgIwgbYMgbNSZWxpYW5jZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2VwdGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQgY29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlmaWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjA2BggrBgEFBQcCARYqaHR0cDovL3d3dy5hcHBsZS5jb20vY2VydGlmaWNhdGVhdXRob3JpdHkvMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly9jcmwuYXBwbGUuY29tL2FwcGxld3dkcmNhMi5jcmwwHQYDVR0OBBYEFMNruSHk5gH1LauD+wBI/9sgl/VpMA4GA1UdDwEB/wQEAwIDKDASBgkqhkiG92NkBicBAf8EAgUAMAoGCCqGSM49BAMCA0gAMEUCIQDhL+sL9bcrvAVO3UvswA805EHujfL7iVDrbEuJfOSJoAIgBPKehtuILl9x/SJ5kxReiml1zkJqUB8nTy0UOfUNIIQ=
        nonceSignature: >-
          QHuLYArUCO2OZevP0rHc99g9RJp4O1dgsZuVpUdlA7zPWqCDhVQo9Mxr1uPS6GVyjZYo3YElIhHRV4Mv3wEJ3hGOaxK1gResup88QWDK1fL0
        tokenServiceProvider: V
      x-name: Create Card Data for Apple Pay using vCardId or encrypted card
      x-notes: >-
        Card data for provisioning a Visa Token in ApplePay using vCardId or
        encrypted card
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1inapp~1provisioning~1cardData~1applePay/post'
          default: false
      x-hideTryIt: true
  /inapp/provisioning/cardData/googlePay:
    post:
      tags:
        - In-App Provisioning for Google Pay
      summary: Create Card Data Google Pay
      description: >-
        Card data for provisioning a Visa Token in GooglePay using vCardId or
        encrypted card as input
      operationId: provisionForGooglePayUsingPOST
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: >-
          Create Card Data for Google Pay provisioning using vCardID or
          encrypted card
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePayProvisioningRequest'
            examples:
              Default:
                summary: Default
                value:
                  vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
                  encCard: >-
                    eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
                  deviceID: uztEQocBRFrbK5hCgcDbxqw_
                  clientCustomerID: dead-beef-123
                  tokenServiceProvider: V
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GooglePayProvisioningResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    last4: '4008'
                    vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
                    opaquePaymentCard: >-
                      eyJhdWQiOiIxODk5NzZhNi0yZmFjLTRlZDEtOTM0ZS03MjY5NmVhMDgxMzEiLCJraWQiOiJYS1ZYNUlHNTVDWTFRM0FVR0JLQTExbV9VNGR2b2FROVVzZ3lESUxqQjNUempCYmU4IiwiaXNzIjoiODM3NjVhZjUtZGZhZS0zNWI0LTViNGItMWM5OWJhN2EwZDAxIiwidHlwIjoiSk9TRSIsImNoYW5uZWxTZWN1cml0eUNvbnRleHQiOiJTSEFSRURfU0VDUkVUIiwiZW5jIjoiQTI1NkdDTSIsInRhZyI6ImVvN3d5eDFXU29EQVZUWm9jZlc3N3ciLCJpYXQiOjE1ODgyNDM1NjAsImFsZyI6IkEyNTZHQ01LVyIsIml2IjoiaHN5TWwwbEp3Qk5rbWxtUiJ9.GL-_-PaVQ8xQzv7s6VNC4t75dfa7ZzglsvQG1S1BfL8.9W0-tgfN0eOEWnY7.a9XxDeQsDr55HXsHdIOjmdytTvTv3CFDHo668K-fe9Bk6p8eqbSz3QwwbjB3pRdwpBkzhqjqhKW6C-_Fe1RUliN01z648XBLYYW4VGoT1LxS4eCnucTGaTj-J7xTl3MGCCjrnL38sqpXGs-jWgwaHYpjZ4PlMG9dPeLiUxkodArI98Ph953VYHE_0UPLzB-bkUGKc_y86VH8DYuFTxYAE6LAr0J3R5o6Var7YnseUZrXMvQCf_yHisFNjHkCW4EY8xIWEoiK1vYvPJXOHr9KdAYgdFBJKDoCgs3Vb7AuI_zDEh4jNtkSauQuKZUjD_WCNDcSl75xDiSzT1nX3BMcGLXUbaWvzHARqYheZQ_fKQ8D3xI38yTklf0oJVYLE-Id1XuN437ECyaKHtyxz1L3fXk_n4xpD80f3gy_xwqJelzZFtSlZQVhG925YhQsYjKZjNt_pIFz9RYeDPSP8tflMEx3huFRBmbjNXS9c6jdMk6z5kskOci9p0ur4J3gcKqGjetrp-0bVDJYnpr6d1RffiEvXDuRBIaabMjr5iRuxuGCIT0w0_sL9VcClKxg10MoacGXV3jcnYU2XjUe3aqOZJwbwLnQPWn_V3ke7xvdAdd_52rdiaoJ.P3YDNNCCX5sVgD2QVcDGoQ
                    encAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.HBI8Vcz7VGXuHLSoPwWKu_X8vVhIZjCxcnk3trpBHPfWv17WeIgtxLMfrBBcZA7sLEESyEPjCsZuuiYtNHQ-CGdQ5XaMVTN2pQNJ8DAk2swELjYU0ukxphosI1WduUZbUUIaCuaUnFxVps8n8QnjHoYcl5S2QCoSjIDAaq6UFhVMPTl5Z8h80VE0BJUufwpFn60ccxflmTFtZcbA03Zib74OJtwBWDYVFqUoPeDVI4-eTyOQVvUNfsFRd6C4wQhbcGsehqnHZpxVV_dadPvv884Udim5Vi8QOFXBE7k9Q-9JZV9VKPtz7TErIP5iWDP0cb2GBu6A6X8RwXIhSfOxcw.mTT0c2QP5L9zJ7ys.GOBZF8wHW9HaSMjuZhvCW1PAl15r616BsbG6LsKt5Uo9rFiKCUnM5mXPKjvFKspmjyDxARVgW1q3mkO4uFGICnFljM5XLBhHHBok9dy_8gm9gGbjT9XeIdEb0-nscXyMeV8MI4e5NvQ1zCw1hAvzSIqqR_xYmN3aLjPoxTE-GZBBDVIw4QUdSlaZfw.TCoV1n8rlJU3hg8_IXbHUQ
                    expirationDate:
                      month: '01'
                      year: '2020'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >-
            Name on Card not Available. The card referenced in this request is
            already enrolled but has no nameOnCard value. And, there is no
            Customer associated with this card so that the nameOnCard can not be
            derived from Customer name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        encCard: >-
          eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
        vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
        deviceID: uztEQocBRFrbK5hCgcDbxqw_
        clientCustomerID: dead-beef-123
        tokenServiceProvider: V
      x-name: Create Card Data for Google Pay using vCardID or Encrypted Card.
      x-notes: >-
        Card data for provisioning a Visa Token in GooglePay using vCardID or
        Encrypted Card.
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1inapp~1provisioning~1cardData~1googlePay/post'
          default: false
      x-hideTryIt: true
  /inapp/provisioning/cardData/samsungPay:
    post:
      tags:
        - In-App Provisioning for Samsung Pay
      summary: Create Card Data Samsung Pay
      description: >-
        Card data for provisioning a Visa Token in SamsungPay using vCardId or
        encrypted card as input
      operationId: provisionForSamsungPayUsingPOST
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: >-
          Create card data for Samsung Pay provisioning using vCardID or
          encrypted card
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamsungPayProvisioningRequest'
            examples:
              Default:
                summary: Default
                value:
                  vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
                  encCard: >-
                    eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
                  clientAppID: VMCPTest
                  deviceID: uztEQocBRFrbK5hCgcDbxqw_
                  clientCustomerID: dead-beef-123
                  tokenServiceProvider: V
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamsungPayProvisioningResponse'
              example:
                last4: '3757'
                vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
                cardType: CREDIT
                opaquePaymentCard: >-
                  eyJhdWQiOiIwNTc3NjFiNy00YmM1LWVkZTktNjRjYy0xM2U4MGNkODkzMDEiLCJraWQiOiJYS1ZYNUlHNTVDWTFRM0FVR0JLQTExbV9VNGR2b2FROVVzZ3lESUxqQjNUempCYmU4IiwiaXNzIjoiODM3NjVhZjUtZGZhZS0zNWI0LTViNGItMWM5OWJhN2EwZDAxIiwidHlwIjoiSk9TRSIsImNoYW5uZWxTZWN1cml0eUNvbnRleHQiOiJTSEFSRURfU0VDUkVUIiwiZW5jIjoiQTI1NkdDTSIsInRhZyI6InNBR0xGNGdjNzRKZWl3Y0RXbXJyWnciLCJpYXQiOjE1ODgyNDM2NzUsImFsZyI6IkEyNTZHQ01LVyIsIml2IjoiWmZQd2QxSFBUTGxRRWRENiJ9.i19152t-dx22C1V7SoLuI216M516IQDCeyZ6-p2emAk.KJy_YLzGIqyQtkkZ.vgVTvD_Nsg3ca_L_5G_zUrVFiaW7hi6Np2HrpOVIayeLWiq17qTmRRhbmbl1Eh1a8E06HIraXeXOenm4zb8qR4sMg6dLhIbXC9oqvbypQpT_FQa5TjpnXDe9QX3U4jMrRPsxfSqhPwvdgIyf61RZtEq8SzeY-CrvlHufmtqED7sP3-e1OCFLvxP-nD56wGTcEW3UYwNHZmXB1u-HIUO8WETBjTZ5klyWQ-SSFkWySqdxASFjSl-jNgzwjxEW_5LX17HyjvwNlEYEdvHlJqVaUwkYD7Zu-S6wUzKHflFevk_rdvl7WyY_Yn5o4EBcz7Sj03vO5HuAE0Zx6HFdNPXP70xkhBz7zk9yklz4lSmHzORn0H8feu1zTK-ycvZiTRlIIZO5wg2F2iO3_MwHnHJzkIBvs82c-fptWXFVdB-14hO2c2_PNQoW-KAHBWyQuVFwm5LVUKl7bFA6CPlkaZqUC3G1AeEUcVj7MaiwQqP0cMARTB8Vr1V7y1tiJKYnlAXEVM4sc7OCvS_NZTGi-UAgqCZmI2rbmxLuZiSBgiAB-WhPN9mH3VpFgUEu16Q5uhtQH5Pvx5Oi0dY_ifakUzU_dc1BITckVVrwCoJTDhNXvfw8BJB41GUB.GHGNmrd5eo5fiL4NxjN5Aw
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        encCard: >-
          eyJraWQiOiJOT0xRRjhHNjE0QkozUVpVNE1CMjExdEg0cURjNWx6Y28tWF94bWNEREZjNGpBRlhjIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.ITlIHG7yOZBXehlNY_WeFTu-6JuP3OVub89MRdYFmnMABEBFKTYrAuDny1ru1HCeI3nP8_xwP88zlk9S4KSKBBYoHme-rEdiRlM-OHNcegEVorElCRCS1yU_C4jJIrexRYmmsr5Kv__7wsyfpVimhBncMsz0JLT33uwk_6WPNd_y7fZOC0p9KiMHX2hlIXkU-EuA_My_SNgoDahEbOFSvab97iYXBz-a7zK-xLk73Jjm90WKGCcxJgmbUdLHJ_FKttcQA5HCliwbzR8DLtJpJMXjicEz3rjrUgKMp-SekVrILHVaie_iDojhW8yRnyjJni_JnD2IBolqcHogTieFdQ.UYTvbk6ha9jwj6_i.g2fejtkRSVaFUvYeUmWJETF5tRkGeN1B5zqATfIpwBZVhICt6M2gEFzHz_0zZtBwuyVIp1hBijtfcIchXrg0dVOb1znO0l3m-iGFcNduByqYwODHfz2yxmOXE0OCHl9HAZY6AGPl5xrqLx03gytJnfHUwDqYtuYL8LDBl-AxaOL73QAc0hBdOgITACKiEudd09TnmwWLhgHytluenOUkIQ-S0SLn2Cu5TqGu2y63L8CHZ8EhFQYE794KuyHtZUAlrNxQDHw5NBQtpuVyMuWWgIZAobI6xznv3BOhskPoSCKVY--nMPeSpBLJ7zjTW1jCgModDoExxUPJasJmu4vUj_rYtmiOhs5YOlxhaAyqnX_eOCHwmUTTVUpKVetQ4T_IxiokRabRi8e0aw.lF9yuWYaGTTCnULlS6KI_A
        vCardID: v-123-ac7aa6f4-3d84-4fa1-8243-790a90ea5b02
        deviceID: uztEQocBRFrbK5hCgcDbxqw_
        clientAppID: VMCPTest
        clientCustomerID: dead-beef-123
        tokenServiceProvider: V
      x-name: Create Card Data for Samsung Pay using vCardID or encrypted card
      x-notes: >-
        Card data for provisioning a Visa Token in SamsungPay using vCardID or
        encrypted card
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1inapp~1provisioning~1cardData~1samsungPay/post'
          default: false
      x-hideTryIt: true
  /universal/core/customers:
    post:
      tags:
        - Universal Card Enrollment
      summary: Create Customer
      description: Creates a new `Customer` object for which `Card` object will belong to
      operationId: Create Customer
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Enroll `Customer`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
            examples:
              Default:
                summary: Default
                value:
                  lastName: Narayanan
                  firstName: Shankara Child
                  encMobileNumber: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.qlj0Ws5TusSxBPBpt_E7GMIfSqBM2Hrpq_SIDXS8fPy_FwJHdIOrWrK2Kh08aGP1BAVYzLlYBum_r4UljEPfvhFRZdZ9AaHH0e5jgTEIVYazhmn-9q__-2qGoQLwzzJBRwxNS12IoQghPjj6bC5PwevgrjIqsxpdFJFzrrPnCITW1Fj7cLw6yTehCQ1XVdPTDTZIHLVAiUZZxjnAmUuFQILrWRIUafdcmVtsjqrM-8q2ts4WySQmZ3pn3KoEnpIbRlyfOcxi-s5hcBWXAOVYDUYB7qK-Y2dxcelNaa7YD1QipNnYaab6XeNP1hmD4jsn1cc80iZQ-MnkVXxmK316Ig.Xl_o9k8iN2yATW-3.y-nD47IiBTrVURKO5BY9tRryIoB4yk1qelke0JvcfTl2BzPFmcA5ZYHcCo5tMPDjYF8Dk4G6UN2jiA.FJr7P5P4W8b-YZysKqY2nQ
                  locale: en_US
                  encEmailAddress: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.UxcxOPvMDDW8VN1ZBGId5L1DavD5_HTY_Z6EySCBcjziv_Yogq56_K55paab-IC9bHwEDQQ5Fo6S_D34dZws1WDkUa3oQpRaZ3TTyfv2OMz5mVPMwcJU9qPF3V0Y1JKxoThWp2LOkmCgIC9wo3AxWVzlcq0pkDUpauNVXW3HfxXDBtE662g6K4gwSReJgm-pnrUkwA723dgKCPwtyrKkbpq1Fop0poNHB35TGMuc778Psd0r0YauRXY0VhHdJzZBrVekeFQZF3HfpYRP8vqEIAMFrGFJu8smI1O7R_s30YzEgI7rFLtsRPAim4M_3dbuKecHOsGXuE5AmLCq9bBc0Q.mhtgNtKjNGWt5OKo.k6JhkcQ5Pd1RsMVewQ.79s0w1JCEp-nP1mj5qq_nQ
                  encAddress: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.mULzqjvIqm8W1FuhBizKUDFDPkMxpZZAfzfByXdByvpE89QDWSkri2TONET-9ZXnS-LiYFrF9XAGD_zlMIferi8L1h3FznvLx21KpmpUJZ2LIaMFwryX8QMnOAUqaumkhM46cE1s0O0D6wWnG7jDZpFvxdG-jhSzfEsR_b_lpzvtJuYmIbNXg-a9SRh4-6K-AK-4TCCR6qpJkbNP2NMG9sOq2f8gCfF-G8QejFgpdhb1dwLZcXekdyQMkPSboaua6MGgWq9YhPw5EGMU6DPCM4SqSPoR3QMrD9Ledqn15_3NLtJ6aacLqTVQLgQFo-sk9HfLFJL3MIGsp6GcI_UHCg.cxNahyRxWQ5ZptVh.2NtHwacKBzVaqxVTfB-ES_rIYlRuiLaJbVhAwn5gjj77yMQUNFAGsDrNpa9Wpa-cr7XxOvja3uLgScxoMBQcB7UXCRfptsLkZCh3AhVOh2jbQ29oseQ2BDG1FGyjzDQi3_c7mkPHmQkk6mc_r3jXflzLlx5EjDHk2vJOcaZrmMEfQG508bF5rHpl1xB0W1qnilAaJWlf2JmIBiwJsqvBW6G-_ciYAf9zFIg.4UzBoQ0cjdhtOLfG8WKYxg
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    lastName: Narayanan
                    firstName: Shankara Child
                    vCustomerID: 1189052d-9540-480e-9cc0-f6c26a2a521e
                    encMobileNumber: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.iUteJeMnY1nriwEZ7kISWgdDsVEnDUOmRVF4mbCbdeu-mYweOeosG3f3bYEQwMupC5xumUbcdXyF83jMmHT0flIF78XKI5X2-2vviIOynNO6pN8DVHyeh5YfBFQY2ScRX7S7eIkZOqiwyRpHlVN5fdGwze5lsCeol-0P183Q-d8q7M2I07I2yXj04rK1GkhU3e1GO4AzuAKkVGWbd_-83P2GsCzHb4HTVixcAaLUsA1aZYSqJ5tsxSl-GqtgnOS2HRtCXG2R6C6sZ8za9_42joZPjxyLbCO2WECXAoHa7aJgBmLd1Oe5OkvfLqI1JI5CVlErAwIUrHJVEGJKAQ_Pig.vkOURUhUR1yMzgLQ.2Jynq5CLkXx4XM8tXEJ1fZwsAbJOvRN4b5ULVuzBtGHmNcoaPI_DKLAvv5jOl8Y.nFhU1kN4__Ev7JQUsGmOcA
                    createdDateTime: 1624928382132
                    locale: en_US
                    encEmailAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.ZeuINFxegefC67vwmIJBRHji0aJoQJxM0dhxvfw9OQupFYbkluK9YJf5QLAx72iTHDCd5h8uwrH3bhatvMGyTSq6NxmXGiTHpgbT8v4NWkss06QIeeUcbvEU9ANqEAep2cKtofPfe7viPVPY4eh_25Rojj6YYrCwJdOOat3oCb8eToZwSPEmVrQdCv24ZQ4edlLONUQ6MQHY0JG3avpQFC4J-XrtZ4kyi5tVzs8MuY4MDrw3qs2dmbwYtjKkjufYfsVs3Q6kDo3G9aKxZzHO8XApaOYrIHO3Wjkuf05z_-ufOG7e3J8KXt3ALDpxxDdWoWbs9kA_Qkjx3ZSOJkB1aA.SmqPvAiDtWQo0Uk2.Liwm2YOy_ngJFfDWnYgP.j3icoP-ABgQOW_VvEVX81A
                    status: ACTIVE
                    encAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.qgadplS4Nv47VG9ms1P1WAP0oM9MgIqEVhHMFUv3RxvgVwR9HuHwK3SWhnRfaWqcoMIy34hn2MQs5LNWJ55n1MulH51OIj79EGNzEY-ROv7RPMoBVMnEXkbJJIQG0i4_ZvmfWxTW14_72YjfL3A6Q_DpTpsaduUdYvtVZiAabWSUdjWBIDEffntkmzmGZ237ihZKUg-0RY3FRJlRr6ZaLfAAaFYOuqh22KdY3OAuk-2U4LpdJ9qbBSeVo3OA5CrVRneiO8rJ0tmJVXr3g7t3LCtvMhl3k5FG2t2Lc24fw8oZItoxa_HLy-_5qJTil-eJku5cxn7w8kqYTqNpMlWQAQ.O1BlwNqkFEsKvMLA.Cy8Q7DaedctY8hmRfrrJ3of2KSdGG2k1d-LJeTxGUJN1Hhji9S9beik0CgI_qgAjRyJWyx8usRNmUKQ0twsIyyu8q8lI55tYO6KQA0Q8cb2uZiK6rkC5GyfVHPu17fFnxU6n2BPq1NH2suuoWbYU9IQfrfDlITYII6C2KdThxX0HJWPrZDcvItGBnJZZyqpPnpNCNkYWgnXQUx09UeLT7B3Y9umF99ROjFGYlPpQmaL0drFdB9FrWWcxFknpEQM.7QXIeK9b00szdu6nmnkWJw
                    updatedDateTime: 1624928382132
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        locale: en_US
        lastName: Smith
        firstName: John
        encAddress: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.kqVmClndESpaFEnMLDbVKUZI7xWYM6UWUjBFUUkuQt0IhJUUNS-OxuIBp3r9PIyQ-kRD9u0ntZZuXAvrdnQbGa2h_caAm3xNY0kDaUFRbgprcVfWHyZxbPnQHHty38Qt6dMrkY7Z7aE3RKvDC-YASEmMF9fWYU5laNpH0JFtAQsqWG31gpybwA9OW-T9LZrlAJEReaglGSEhdkoT0jFkygA6fjerypC2Y0gF3vYZAxh-SMIxjVis8nAB8k98EMT3tGa3eDuXS1_YQXfzr9egI2BXfCzLI-3cfkqecBk0wmEEPS_yJTXouuAgmVIrn8cw7FZyKFjnoklGcnb-ArTl5A.Rmqjahy9KrEmlHCG.1sJIvWvGG6P58c5TiNYROPFJ4Ngedss1zKsRvvB4Iyo-KsFh54WHt_5ZXJ43uJ5aV-UsPwme0kzfApGJvJ4hg2cmR307RiDfzUJ73VLHO-l0mdollQdMfNiBFg6LXpNalmDe0tkBtx4QxeQPCtQgbUoSBCO73e_IUcsqcaeTeEye-Q_jn9T0C9n1m2D79LiqqHSz-RI83vjorR7eRvKqDzKBOnnwvYCu0K8.O2bqAuMTZOvLQhe7qIPpbg
        encEmailAddress: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.YLAr5r19ZgAm80phtWlV29utZDZDuz9rGq7GYdZ-aBVFQwZGXb6U4Tve4YbU6Q1WvvJv_YSrr6aNEOuQLoHq17Ytbv9aca8ixLxPDXyQZDke2HmkpPjd5-4Wzbn1uLmoFeRjMR5kHViVasuCdJGDyf70w_1PTptqHj0E8rAf8CeD38D69Qh8_lNdf6IEBbMxLersBvpi7rEm2Bp7hrz_9uKpqqhLbW51GLwcu8NxKJ4wAsu4JyX912xCD06GWORHGt_pUm5uXZevi7yJzGaZdzQC2vCwQZf_QNA-JA1uxiZztTLNdhhBSRVRYYmneEweMdshFjLMOKeDAvCZcudT6w.IWXaPAj9p_tCEAXy.KWmcduqkTesoJ6qjSw.8sAIJIbB2wdcdcB3OoxpWw
        encMobileNumber: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.Mx8ZwyhZNxdh1WbAQDQUuc1GEODgV54yanVTLrIRHbZSstCd0l6GmAXurelc_vK_CFjq5UII0EqLDn3cGOxwXer0aReDh4ckoOEvIYrqiMxLbugiKVEgQriDc1mwQk07n6U61D-NsE0WVep66H_-UR0lwKvCwRjfTZ4M91pYNtesIWMaja7lTBEBi0HNXsJOG0-ybfqCHA-taC2qO471KrV2WctYQ-BffIwXCrJqLBuuisx4VEoE7mQ1A2eRLxUdaZeJXGtUkTPhmtnm9voC79JMxuQdDl_Ilmv7zkyCS2wqubJfnJ9toCaK7_LwHdMd8sHbIda9VoTyRCeTBZW5pg.ILsPvJa1UpvE5yui.G4J37gRxEvJj8xqNDBScae73Pir-9Fb7TpTecfkX0izNb8zi5tU75HUwQRU7cUyF9Z8kI3DeLOuOvg.AYZR3Fmwno4c4AIHC0RVJQ
      x-name: Create Customer
      x-notes: Create a Customer object.
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1customers/post'
          default: false
      x-hideTryIt: true
  /universal/core/customers/{vCustomerID}:
    get:
      tags:
        - Universal Card Enrollment
      summary: Get Customer
      description: Retrieve a Customer
      operationId: Get Customer
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCustomerID
          in: path
          description: ID (UUID) of the `Customer`
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    lastName: Narayanan
                    firstName: Shankara Child
                    vCustomerID: 1189052d-9540-480e-9cc0-f6c26a2a521e
                    encMobileNumber: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.K5NmpXIf8GxdnV3SGpMHSe58EUlZUp-6LiC356z_keZSJ5fdzNwUWfQT1pDLFbjxEK1nOiy2mJyjA3k7SbrQkQ3t3dDcHI-xhIUri_zBsyOuHTHFCisUsQkV7ZuRxYCCnu0xpLjjiqD6Ybi-jz6-mDyeznncq9ndxUj4jCGVexJ0uMdvQbLs1oq76cNepxj8Wjc5MuSHhKZDEdpMV9eNvhOm3DCkUKV1G0HVTuvFDyFZH1uqg0Qg36bTu0hU4YcrWTbatDkpxcTLlizmV2uyT3NPL83eQNdv5UiMdWI0KqUf6T0x0nsWb_7QACQsI_7In8Kl41ZnYh8qhvWyx21NMQ.ZK4HTjbDkekTLiwM.573x-UdBZh5N6v0BepUoPwCFJj_vQssRWNqFq18KfSZVIsoUyPIxqw0ePVEGKtw.kjFCqC5lraxzinkMStUcxQ
                    createdDateTime: 1624928382132
                    locale: en_US
                    encEmailAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.ngbW3XIohwh75C022Md23ZMB8WHO9xMbWRBevfV1vyHRqnJiMtN7nRmBrv5Kzj-L31E60elOLXWoL_8p8UxfGvYVS_ugdGd2ggOA_ryBIFsJuCBbOWXMkk-KIsnyQ3P9bCOVcS5YHOZFZoji2xvATd4J9cIX8Belz5T6J1VsrU3nKqQZw5B70D6EHYEW800ZJLH_MQATUfy8fXRjSn_2lurHA2KczcXsvkhmsIuLIgrhF-oJExoHngCwDwY0VI6LzqdUQAX0fKFvhCHqRDPVmrIbqv90oifBOmSVZWKI_rvU1YxNZZmBrxSLTl_Hv0D4NB8kIBTuIJRsMM0BV4LniA.-dn8SQ2GqfyQeTV9.75qDRk34OhTpqu55PNd7.qy3yHpdh9m8S-5SeiNyTgA
                    status: ACTIVE
                    encAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.l6QicYDWHMILpM9Ig_HbRKL0jPDbipN_vEh7gB2ciZ1nCbH9MwwO462lARfBqTcdJsYZuekkcCrBLiasgrKEqqm-CL5fkpEm7-52v_kEjsrvXqXPFg6h7ChGQHKKrCazdGBAYSRHN111M_yS59SYllTlvFT4hehOv5lpicCYEkrocMf7Kif4CRGoxUQ2dD7BtTPgwMac0jLCn3qntxOABB2ZaCC32cwGcbkrqGhbcUhiQc-ePMY8U158NltdFnNsP6sGwygLIoMaIkDZannqzm82lsJM3xS7_fi5ei0HBfo3LlEwwOfrXK5FiGZxG2hzp8c-ffft2y8qNOHr1sfUfw.c-3gMuqtksX96f4h.uUtjgA2oa-2yGjok8KDaMhKzc-N8Tc3Kq2Atv2CmuXbtVQ92g0U9YOZqVu6xh0o6AEoLqh7YFi14GL6hs16W1TSyrsgT19hatVl-0TinJh0tWKLBVMA9Kh_Sa7kRYq0_LBv44YdG9zb0YaeZV7VvGK7j9L-FhOjxt0HTfCYP5Bu_D1izy7J0VoP_AcOX5SJrW_tVjozvTlVPEFx8KdZfsj9NwWjmGDW3aCn2RO538RaYHwsoWP6Sg9a_QV0FyEqRVkCPbSaqRGsccoMR3559ZUmUy-geSCGG.3EahILcBuhjE5VCBzrbOUQ
                    updatedDateTime: 1624928382132
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-name: Get Customer
      x-notes: Retrieve a Customer
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1customers~1{vCustomerID}/get'
          default: false
      x-hideTryIt: true
    put:
      tags:
        - Universal Card Enrollment
      summary: Update Customer
      description: Update a Customer
      operationId: Update Customer
      parameters:
        - name: API Key
          in: header
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Pay Token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCustomerID
          in: path
          description: ID (UUID) of the `Customer`
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Updated Customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
            examples:
              Default:
                summary: Default
                value:
                  lastName: Narayanan
                  firstName: Shankara Child
                  encMobileNumber: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.qlj0Ws5TusSxBPBpt_E7GMIfSqBM2Hrpq_SIDXS8fPy_FwJHdIOrWrK2Kh08aGP1BAVYzLlYBum_r4UljEPfvhFRZdZ9AaHH0e5jgTEIVYazhmn-9q__-2qGoQLwzzJBRwxNS12IoQghPjj6bC5PwevgrjIqsxpdFJFzrrPnCITW1Fj7cLw6yTehCQ1XVdPTDTZIHLVAiUZZxjnAmUuFQILrWRIUafdcmVtsjqrM-8q2ts4WySQmZ3pn3KoEnpIbRlyfOcxi-s5hcBWXAOVYDUYB7qK-Y2dxcelNaa7YD1QipNnYaab6XeNP1hmD4jsn1cc80iZQ-MnkVXxmK316Ig.Xl_o9k8iN2yATW-3.y-nD47IiBTrVURKO5BY9tRryIoB4yk1qelke0JvcfTl2BzPFmcA5ZYHcCo5tMPDjYF8Dk4G6UN2jiA.FJr7P5P4W8b-YZysKqY2nQ
                  locale: en_US
                  encEmailAddress: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.UxcxOPvMDDW8VN1ZBGId5L1DavD5_HTY_Z6EySCBcjziv_Yogq56_K55paab-IC9bHwEDQQ5Fo6S_D34dZws1WDkUa3oQpRaZ3TTyfv2OMz5mVPMwcJU9qPF3V0Y1JKxoThWp2LOkmCgIC9wo3AxWVzlcq0pkDUpauNVXW3HfxXDBtE662g6K4gwSReJgm-pnrUkwA723dgKCPwtyrKkbpq1Fop0poNHB35TGMuc778Psd0r0YauRXY0VhHdJzZBrVekeFQZF3HfpYRP8vqEIAMFrGFJu8smI1O7R_s30YzEgI7rFLtsRPAim4M_3dbuKecHOsGXuE5AmLCq9bBc0Q.mhtgNtKjNGWt5OKo.k6JhkcQ5Pd1RsMVewQ.79s0w1JCEp-nP1mj5qq_nQ
                  encAddress: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.kqVmClndESpaFEnMLDbVKUZI7xWYM6UWUjBFUUkuQt0IhJUUNS-OxuIBp3r9PIyQ-kRD9u0ntZZuXAvrdnQbGa2h_caAm3xNY0kDaUFRbgprcVfWHyZxbPnQHHty38Qt6dMrkY7Z7aE3RKvDC-YASEmMF9fWYU5laNpH0JFtAQsqWG31gpybwA9OW-T9LZrlAJEReaglGSEhdkoT0jFkygA6fjerypC2Y0gF3vYZAxh-SMIxjVis8nAB8k98EMT3tGa3eDuXS1_YQXfzr9egI2BXfCzLI-3cfkqecBk0wmEEPS_yJTXouuAgmVIrn8cw7FZyKFjnoklGcnb-ArTl5A.Rmqjahy9KrEmlHCG.1sJIvWvGG6P58c5TiNYROPFJ4Ngedss1zKsRvvB4Iyo-KsFh54WHt_5ZXJ43uJ5aV-UsPwme0kzfApGJvJ4hg2cmR307RiDfzUJ73VLHO-l0mdollQdMfNiBFg6LXpNalmDe0tkBtx4QxeQPCtQgbUoSBCO73e_IUcsqcaeTeEye-Q_jn9T0C9n1m2D79LiqqHSz-RI83vjorR7eRvKqDzKBOnnwvYCu0K8.O2bqAuMTZOvLQhe7qIPpbg
                  clientCustomerID: UBER-201-SHANK
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    lastName: Narayanan
                    firstName: Shankara Child
                    vCustomerID: 1189052d-9540-480e-9cc0-f6c26a2a521e
                    encMobileNumber: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.h-yMUGIq_q52bcvVMfuYh2U0GcXLp6E7nhM8Gm1exVzY-zjjGK6SakxZT0sLZ-MCsv7bKsVvcXzSOis8tpthjIOMSqM2ewgJQasd_ztcMRSak1gP8Qg2lp84iduEJh8jwUK8vCKp9MH6hAwK9UKih3mktY-QfirzNeczwDudt02CKkpGRTbrkMWOIVrdGZCfSMTxFcaDqCxNZdXbWoVoM3rXuPW3NtAfOmqcPFoF2oI5iTnFrLcF6Tj7fCz99v1piGG1ALGFnsaAsWnDn3glp0MWo92lPzd0llJhc44tBemHQ6HVXLM5mkqQgGf3HBb_o6-yVFfnTtw0iwk9QILnYg.9lY2S8xINR1DD77e.cjMaxNnJrhkoW5wLEQacRSzGuL-xBRufVqQBG5PMpJgTB7AmfcOKpTPDKTK9Bd0.HNg1uPjPvAW1AJP_LIOoJQ
                    createdDateTime: 1624928382132
                    locale: en_US
                    encEmailAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.p4nO9OYCIvuvRD9eO4uOD_7q_kUmq_21yuUIO6sl2Gdsdhqe8LPToqfvP5eilGT2qw-iX7Z5z377C9C6_NJkfm9Ncozx-VPyEwBf8Qxuk1xVCnM0dZoJCDOFSOMqFHJlDRGx7VmZcbW19WdzQwPy7762OeDEsxH_zIX2ivj50BwtxRgwhgLGFSIK2rDFXVzmN9KNkWcK6aOB5xgH6cum6u1GOU5PwbfxJkHTNyxqNd9iOKiaEPDYk-mM6BzgRMnoLRxXAJfupGgp6bF6GzF7an6gu98DD-omzxwtr51TO3Dksq8B41ZRa3dAyPkkJ7lIpG0wYPifOT5YMex6KYloAg.RX_qqwI_gMzDqSgx.aeTquzM4IwgAlhDqZF6h.4ujmirQO7dlSfhzkepGXeg
                    status: ACTIVE
                    encAddress: >-
                      eyJraWQiOiIyRjNDOUZEMyIsImVuYyI6IkEyNTZHQ00iLCJhbGciOiJSU0EtT0FFUC0yNTYifQ.kHEk-UuPEt-HjZwnlBXHJ18qdO29nNqwOlACtYtYyu5v1RDC1FCFDQrUOFelNXL0LuuRmAnq1tSZKLJ8hM4SjUnaCLkIigrisjo3DcuKaOF5qG87gF9HkfVjDBRWnnYtGa9mz2IbtxdDXlOljxkIe2vHwriNrgbjx_ZKldctZlOslH4rf6ZKsOlbuxRSkpULAfL3udqoTlOVnZQIbqhTFMJOI-PzPSRZay3pOKqWEEsh121xWXzSl-7LinrJnoUdGyh4iR6uQiyljbDDqxR1Q15cVQC6EBKgjEAGFoFiqtKvtFAdnC8OJTJtoXPmtGvIR0w5rny-p6eZL9coBlE4dQ.QmiHbpvaq4rma9r5.PWoou34hEiDZ37JW6YOKTc1sZGd31ACvvdMtE3inn3-Dbvyh9PsdY7kaxiDhZuePSxRIXbRKYguvmFbvYvzNSWKeBhZGxsPUQSqSyLVB-vVcgGYtN1XBN4T31lGeSHOim9lGe12SQHmznhoCuXp8rgxHDvrheBayNBTm9KsV_aqp88q6DPXZU6GaVg3MPmJ6uQvyscnr-Kh5XZFq9P8fCDMI8XeK9SeGFF9cFHMHjhsvLecR0IzvKfHxQyTZUP7oj1eNJMs1hgT9ETzhmv7x7jwsmoCIUoE5.ePNRLn_3srLn0Ipfzm25Tg
                    updatedDateTime: 1624928854167
                    clientCustomerID: UBER-201-SHANK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        locale: en_US
        lastName: Smith
        firstName: John
        encAddress: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.kqVmClndESpaFEnMLDbVKUZI7xWYM6UWUjBFUUkuQt0IhJUUNS-OxuIBp3r9PIyQ-kRD9u0ntZZuXAvrdnQbGa2h_caAm3xNY0kDaUFRbgprcVfWHyZxbPnQHHty38Qt6dMrkY7Z7aE3RKvDC-YASEmMF9fWYU5laNpH0JFtAQsqWG31gpybwA9OW-T9LZrlAJEReaglGSEhdkoT0jFkygA6fjerypC2Y0gF3vYZAxh-SMIxjVis8nAB8k98EMT3tGa3eDuXS1_YQXfzr9egI2BXfCzLI-3cfkqecBk0wmEEPS_yJTXouuAgmVIrn8cw7FZyKFjnoklGcnb-ArTl5A.Rmqjahy9KrEmlHCG.1sJIvWvGG6P58c5TiNYROPFJ4Ngedss1zKsRvvB4Iyo-KsFh54WHt_5ZXJ43uJ5aV-UsPwme0kzfApGJvJ4hg2cmR307RiDfzUJ73VLHO-l0mdollQdMfNiBFg6LXpNalmDe0tkBtx4QxeQPCtQgbUoSBCO73e_IUcsqcaeTeEye-Q_jn9T0C9n1m2D79LiqqHSz-RI83vjorR7eRvKqDzKBOnnwvYCu0K8.O2bqAuMTZOvLQhe7qIPpbg
        encEmailAddress: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.YLAr5r19ZgAm80phtWlV29utZDZDuz9rGq7GYdZ-aBVFQwZGXb6U4Tve4YbU6Q1WvvJv_YSrr6aNEOuQLoHq17Ytbv9aca8ixLxPDXyQZDke2HmkpPjd5-4Wzbn1uLmoFeRjMR5kHViVasuCdJGDyf70w_1PTptqHj0E8rAf8CeD38D69Qh8_lNdf6IEBbMxLersBvpi7rEm2Bp7hrz_9uKpqqhLbW51GLwcu8NxKJ4wAsu4JyX912xCD06GWORHGt_pUm5uXZevi7yJzGaZdzQC2vCwQZf_QNA-JA1uxiZztTLNdhhBSRVRYYmneEweMdshFjLMOKeDAvCZcudT6w.IWXaPAj9p_tCEAXy.KWmcduqkTesoJ6qjSw.8sAIJIbB2wdcdcB3OoxpWw
        encMobileNumber: >-
          eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.Mx8ZwyhZNxdh1WbAQDQUuc1GEODgV54yanVTLrIRHbZSstCd0l6GmAXurelc_vK_CFjq5UII0EqLDn3cGOxwXer0aReDh4ckoOEvIYrqiMxLbugiKVEgQriDc1mwQk07n6U61D-NsE0WVep66H_-UR0lwKvCwRjfTZ4M91pYNtesIWMaja7lTBEBi0HNXsJOG0-ybfqCHA-taC2qO471KrV2WctYQ-BffIwXCrJqLBuuisx4VEoE7mQ1A2eRLxUdaZeJXGtUkTPhmtnm9voC79JMxuQdDl_Ilmv7zkyCS2wqubJfnJ9toCaK7_LwHdMd8sHbIda9VoTyRCeTBZW5pg.ILsPvJa1UpvE5yui.G4J37gRxEvJj8xqNDBScae73Pir-9Fb7TpTecfkX0izNb8zi5tU75HUwQRU7cUyF9Z8kI3DeLOuOvg.AYZR3Fmwno4c4AIHC0RVJQ
      x-name: Update Customer
      x-notes: Update a Customer
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1customers~1{vCustomerID}/put'
          default: false
      x-hideTryIt: true
    delete:
      tags:
        - Universal Card Enrollment
      summary: Delete Customer
      description: Delete a Customer
      operationId: Delete Customer
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCustomerID
          in: path
          description: ID (UUID) of the `Customer`
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-name: Delete Customer
      x-notes: Delete a Customer
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1customers~1{vCustomerID}/delete'
          default: false
  /universal/core/cards/{vCardID}:
    get:
      tags:
        - Universal Card Enrollment
      summary: Retrieve Card
      description: Retrieve a Card
      operationId: Retrieve Card
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCardID
          in: path
          description: Visa-defined unique ID of the card
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicCardInfo-3'
              examples:
                Default:
                  summary: Default
                  value:
                    last4: '7155'
                    vCardID: v-123-5505157d-1420-4e70-8f6f-d0ca41bf2201
                    paymentAccountReference: V1234567890124514787387207155
                    expirationDate:
                      month: '01'
                      year: '2021'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-name: Get Card
      x-notes: Get a Card
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1cards~1{vCardID}/get'
          default: false
      x-hideTryIt: true
    delete:
      tags:
        - Universal Card Enrollment
      summary: Delete Card
      description: Delete enrolled card
      operationId: Delete Card
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCardID
          in: path
          description: Visa-defined unique ID of the card
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-name: Delete Card
      x-notes: Delete enrolled card
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1cards~1{vCardID}/delete'
          default: false
  /universal/core/customers/{vCustomerID}/cards:
    post:
      tags:
        - Universal Card Enrollment
      summary: Enroll Card for Customer
      description: Enroll Card for a Customer
      operationId: Enroll Card for Customer
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vCustomerID
          in: path
          description: '`Customer` object ID (UUID) of Customer object'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Enroll `card` for customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCardForCustomerRequest'
            examples:
              Default:
                summary: Default
                value:
                  encCard: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.Ahg9Pt2j3UJfVSKj5Tmk8kKEywHoYCbBBvwUKblOh_0M5Nb5RfsDG1Kw9M3-Sqs8_VZZ9rMRZRvDnDFzV8LgRIx-Z5fMQLdoFtOzTpOr-aD-Zx4sQSxkjI1HoZBkZTGkxNiUM5LRNMkJ5HaP0SprddkY4dO3J74xiQNDUTiHlCjsQHnGyWFwcE3B-kq9ooj--AgFMdAkPogNTcLnZoYi3HAgZk2T-Dnq_AbSJzk7xPHtklHEOrFfRRBhsDzRk__sXcmMjFlEJ5T3NK8TCOrdE6q9m13tzTpIrnV3BOWCO4FeKLrkTBzA2270oXLLTX_im0kFCVTKqtCz0oHRPFCAhQ.O7x3brFeJmSyxTER.45ETkDsYpag37X6yeHd0aOBAttQYaPI9333k-Z_t9QQez1VDSfY2yv_S3iDVcSErJP2UnxrTaHm89_bVDAc2yOwZXhxiT-1hEIFf2tJNIF4tSfb4nHiK8YI1exjQevG05KiBpvAqZEd_jF4n8Fl-iiPQFurbqkI.raYixQnXRc_86p3AkMTyZQ
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicCardInfo-4'
              examples:
                Default:
                  summary: Default
                  value:
                    last4: '7155'
                    vCardID: v-123-1bf462b0-f3ad-4f1d-858d-b87282c0d602
                    paymentAccountReference: V1234567890124514787387207155
                    expirationDate:
                      month: '01'
                      year: '2021'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        encCard: '{Generated from encryption of "Card" object}'
      x-name: Enroll a Card for Customer
      x-notes: Enroll a Card for a Customer
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1customers~1{vCustomerID}~1cards/post'
          default: false
      x-hideTryIt: true
  /universal/core/cards:
    post:
      tags:
        - Universal Card Enrollment
      summary: Enroll Card
      description: Enroll a Card
      operationId: Enroll Card on behalf of Partner
      parameters:
        - name: apikey
          in: query
          description: API key from Visa Developer Platform (VDP)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pay-token
          in: header
          description: >-
            API Key-Shared Secret Authentication. Please refer to
            https://developer.visa.com/pages/working-with-visa-apis/x-pay-token
            for more details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Enroll `card`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCardRequest'
            examples:
              Default:
                summary: Default
                value:
                  encCard: >-
                    eyJraWQiOiIyRUkzRE5WU1pHTUFERFlOTUtNMDExd2o3Z2V4WUJILWhOMkpzSFg5NHlkaktjb0VVIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6IlJTQS1PQUVQLTI1NiJ9.Ahg9Pt2j3UJfVSKj5Tmk8kKEywHoYCbBBvwUKblOh_0M5Nb5RfsDG1Kw9M3-Sqs8_VZZ9rMRZRvDnDFzV8LgRIx-Z5fMQLdoFtOzTpOr-aD-Zx4sQSxkjI1HoZBkZTGkxNiUM5LRNMkJ5HaP0SprddkY4dO3J74xiQNDUTiHlCjsQHnGyWFwcE3B-kq9ooj--AgFMdAkPogNTcLnZoYi3HAgZk2T-Dnq_AbSJzk7xPHtklHEOrFfRRBhsDzRk__sXcmMjFlEJ5T3NK8TCOrdE6q9m13tzTpIrnV3BOWCO4FeKLrkTBzA2270oXLLTX_im0kFCVTKqtCz0oHRPFCAhQ.O7x3brFeJmSyxTER.45ETkDsYpag37X6yeHd0aOBAttQYaPI9333k-Z_t9QQez1VDSfY2yv_S3iDVcSErJP2UnxrTaHm89_bVDAc2yOwZXhxiT-1hEIFf2tJNIF4tSfb4nHiK8YI1exjQevG05KiBpvAqZEd_jF4n8Fl-iiPQFurbqkI.raYixQnXRc_86p3AkMTyZQ
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicCardInfo-5'
              examples:
                Default:
                  summary: Default
                  value:
                    last4: '7155'
                    vCardID: v-123-5505157d-1420-4e70-8f6f-d0ca41bf2201
                    paymentAccountReference: V1234567890124514787387207155
                    expirationDate:
                      month: '01'
                      year: '2021'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload:
        encCard: '{Generated from encryption of "Card" object}'
      x-name: Enroll a Card
      x-notes: Enroll a Card
      x-codegen-request-body-name: body
      x-operationVersions:
        - label: v1 - Latest
          operationPointer: '#/paths/~1universal~1core~1cards/post'
          default: false
      x-hideTryIt: true
components:
  schemas:
    BasicCardInfo-1:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-2:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-3:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-4:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-5:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-6:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    BasicCardInfo-7:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    EnrollCardRequest:
      title: EnrollCardRequest
      required:
        - encCard
      type: object
      properties:
        encCard:
          $ref: '#/components/schemas/EncryptedCard'
        clientCustomerID:
          maxLength: 36
          minLength: 36
          type: string
          description: >-
            This is the (external) unique identifier of the customer in the
            Digital Wallet Client System. This ID is unique in the clients
            system.
        vClientIDForPartner:
          maxLength: 36
          minLength: 36
          type: string
          description: >-
            This is the vClientID of the Digital Wallet Client on-behalf of whom
            this call is being made by the issuer partner. This field is
            required only when the Enroll card API is being made on-behalf of
            another partner.
        vCustomerIDForPartner:
          maxLength: 36
          minLength: 36
          type: string
          description: >-
            This is the Visa generated unique identifier of the customer of the
            Digital Wallet Provider Client
    ErrorDetails:
      title: ErrorDetails
      type: object
      properties:
        message:
          type: string
          description: The specific error for this field.
        location:
          type: string
          description: >-
            The value of this field is using XPATH expression to point to the
            field, which failed validation.
    BasicCardInfo:
      title: BasicCardInfo
      required:
        - expirationDate
        - last4
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        expirationDate:
          $ref: '#/components/schemas/Expiry-1'
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    SamsungPayProvisioningRequest:
      title: SamsungPayProvisioningRequest
      required:
        - clientCustomerID
        - deviceID
      type: object
      properties:
        encCard:
          type: string
          description: >
            <div>

            <p><code>Conditional.</code> </p>
              <p> Either of <code>vCardId</code> or <code>encCard</code> is required.</p>
             <p> <code>vCardId</code> will take precedence in case both <code>vCardId</code> and <code>encCard</code> is part of the request body.</p> 
             <div> 
             <p>Encrypted <code>CardInfo</code></p> <h3>Example</h3> <pre><code>{
              "accountNumber": "4000000000000000",
              "nameOnCard": "Digital Issuance",
              "cvv2": "123",
              "expirationDate": {
                  "month": "01",
                  "year": "2021"
              },
              "billingAddress": {
                "name": "Digital Issuance",
                "line1": "12301 Research Boulevard",
                "line2": "Research Boulevard",
                "line3": "Visa USA",
                "city": "Austin",
                "state": "TX",
                "countryCode": "US",
                "postalCode": "78759"
              }
            } </code></pre> <h3>CardInfo Schema</h3> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody>
            <tr><td>accountNumber</td><td>string<br>required<br>minLength:
            12<br>maxLength: 18</td><td>PAN (Primary Account Number) of the card
            to be provisioned or enrolled</td></tr>
            <tr><td>paymentAccountReference</td><td>string<br>optional</td><td>A
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN</td></tr>
            <tr><td>cvv2</td><td>string<br>conditional<br>minLength:
            3<br>maxLength: 3</td><td>CVV2 value associated with the PAN on the
            card</td></tr>
            <tr><td>nameOnCard</td><td>string<br>conditional<br>minLength:
            0<br>maxLength: 256</td><td>The full name on the card associated
            with the issued/enrolled card</td></tr>
            <tr><td>expirationDate</td><td><code>ExpirationDate</code><br>required</td><td>Cards
            expiration date</td></tr>
            <tr><td>billingAddress</td><td><code>Address</code><br>optional</td><td>Billing
            address associated with the card</td></tr> </tbody> </table>
            <h3>ExpirationDate Schema</h3> <table style="border-collapse:
            collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>month</td><td>string<br>required<br>minLength:
            2<br>maxLength: 2</td><td>The month that the card is set to
            expire</td></tr>
            <tr><td>year</td><td>string<br>required<br>minLength:
            4<br>maxLength: 4</td><td>The year that the card is set to
            expire</td></tr> </tbody> </table> <h3>Address Schema</h3> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>name</td><td>string<br>optional<br>maxLength:
            100</td><td>The name of the addressee</td></tr>
            <tr><td>line1</td><td>string<br>optional<br>maxLength:
            140</td><td>First line of the address</td></tr>
            <tr><td>line2</td><td>string<br>optional<br>maxLength:
            140</td><td>Second line of the address</td></tr>
            <tr><td>line3</td><td>string<br>optional<br>maxLength:
            140</td><td>Third line of the address</td></tr>
            <tr><td>city</td><td>string<br>optional<br>maxLength:
            100</td><td>Name of the city</td></tr>
            <tr><td>state</td><td>string<br>conditional</td><td>Second part of
            the country-subdivision (State or Province) code in ISO 3166-2
            format of the country, eg \"TX\"</td></tr>
            <tr><td>postalCode</td><td>string<br>optional<br>minLength:
            3<br>maxLength: 16</td><td>The postal code associated with the
            address, such as zip code</td></tr>
            <tr><td>countryCode</td><td>string<br>required</td><td>ISO 3166-1
            alpha-2 formatted country code associated with the address</td></tr>
            </tbody> </table> </div>
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: >
            <div>

            <p><code>Conditional.</code> </p>
              <p> Either of <code>vCardId</code> or <code>encCard</code> is required.</p>
            <p> Visa-defined unique ID of the card to produce the Google Pay
            provisioning card data for. <code>vCardId</code> will take
            precedence in case both <code>vCardId</code> and
            <code>encCard</code> is part of the request body.
             </p></div> 
        deviceID:
          maxLength: 24
          minLength: 2
          type: string
        signingKeyID:
          maxLength: 100
          minLength: 1
          type: string
          description: Token service provider specific signing key identifier
        encryptionKeyID:
          maxLength: 100
          minLength: 1
          type: string
          description: Token service provider specific encryption key identifier
        clientCustomerID:
          maxLength: 36
          minLength: 2
          type: string
        tokenServiceProvider:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Indicates which token service provider will process the card data
            generated for provisioning. The default value is "V".
          enum:
            - V
            - M
    Expiry-1:
      title: Expiry
      required:
        - month
        - year
      type: object
      properties:
        year:
          type: string
          description: 4-digit expiration year
        month:
          type: string
          description: 2-digit card expiration month
    CustomerRequest:
      title: CustomerRequest
      required:
        - locale
      type: object
      properties:
        locale:
          maxLength: 5
          minLength: 5
          type: string
          description: Users preferred locale.
        status:
          type: string
          description: |
            Enum Values: ACTIVE, ONHOLD
        lastName:
          maxLength: 40
          minLength: 2
          type: string
          description: Customer's last name.
        firstName:
          maxLength: 40
          minLength: 2
          type: string
          description: Customer's first name.
        encAddress:
          type: string
          description: >
            <div><p>JWE Base64 format encrypted <code>Address</code></p>
            <h4>Example</h4> <pre><code> {
              "name": "Digital Issuance",
              "line1": "12301 Research Boulevard",
              "line2": "Research Boulevard",
              "line3": "Visa USA",
              "city": "Austin",
              "state": "TX",
              "countryCode": "US",
              "postalCode": "78759"
            } </code></pre> <h4>Address Schema</h4> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>name</td><td>string<br>optional<br>maxLength:
            100</td><td>The name of the addressee</td></tr>
            <tr><td>line1</td><td>string<br>optional<br>maxLength:
            140</td><td>First line of the address</td></tr>
            <tr><td>line2</td><td>string<br>optional<br>maxLength:
            140</td><td>Second line of the address</td></tr>
            <tr><td>line3</td><td>string<br>optional<br>maxLength:
            140</td><td>Third line of the address</td></tr>
            <tr><td>city</td><td>string<br>optional<br>maxLength:
            100</td><td>Name of the city</td></tr>
            <tr><td>state</td><td>string<br>conditional</td><td>Second part of
            the country-subdivision (State or Province) code in ISO 3166-2
            format of the country, eg "TX"</td></tr>
            <tr><td>postalCode</td><td>string<br>optional<br>minLength:
            3<br>maxLength: 16</td><td>The postal code associated with the
            address, such as zip code</td></tr>
            <tr><td>countryCode</td><td>string<br>required</td><td>ISO 3166-1
            alpha-2 formatted country code associated with the address</td></tr>
            </tbody> </table> </div>
        encEmailAddress:
          type: string
          description: Encrypted Customer's email address.
        encMobileNumber:
          type: string
          description: >
            <div><p>JWE Base64 format encrypted <code>Phone Number</code></p>
            <h3>Example</h3> <pre><code> {
              "countryCode": "65",
              "phoneNumber": "5128653617"
            } </code></pre> <h3>Phone Number Schema</h3> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>countryCode</td><td>string<br>required<br>maxLength:
            10</td><td>Phone number Country code</td></tr>
            <tr><td>phoneNumber</td><td>string<br>required<br>maxLength:
            25</td><td>Phone Numbers without any special characters</td></tr>
            <tr><td>extension</td><td>string<br>optional<br>maxLength:
            10</td><td>Phone number extension</td></tr> </tbody> </table> </div>
        clientCustomerID:
          maxLength: 36
          minLength: 36
          type: string
          description: >-
            This is the (external) unique identifier of the customer in the
            Digital Wallet Client System. This ID is unique in the clients
            system.
        vParentCustomerID:
          maxLength: 36
          minLength: 36
          type: string
    SamsungPayProvisioningResponse:
      title: SamsungPayProvisioningResponse
      required:
        - last4
        - opaquePaymentCard
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of the card.
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
        cardType:
          type: string
          description: >-
            Enum indicating the supported card type. It will be provided only
            for Visa cards.
          enum:
            - CREDIT
            - DEBIT
        opaquePaymentCard:
          type: string
          description: >-
            This is the opaque card data that is needed by SamsungPay for
            tokenization.
        paymentAccountReference:
          maxLength: 29
          minLength: 29
          type: string
          description: >-
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN.
    ApplePayProvisioningRequest:
      title: ApplePayProvisioningRequest
      required:
        - deviceCert
        - nonce
        - nonceSignature
      type: object
      properties:
        nonce:
          maxLength: 32
          minLength: 32
          type: string
          description: 32 digit random number generated by Apple.
        encCard:
          type: string
          description: >
            <div>

            <p><code>Conditional.</code> </p>
              <p> Either of <code>vCardId</code> or <code>encCard</code> is required.</p>
             <p> <code>vCardId</code> will take precedence in case both <code>vCardId</code> and <code>encCard</code> is part of the request body.</p> 
             <div> 
             <p>Encrypted <code>CardInfo</code></p> <h3>Example</h3> <pre><code>{
              "accountNumber": "4000000000000000",
              "nameOnCard": "Digital Issuance",
              "cvv2": "123",
              "expirationDate": {
                  "month": "01",
                  "year": "2021"
              },
              "billingAddress": {
                "name": "Digital Issuance",
                "line1": "12301 Research Boulevard",
                "line2": "Research Boulevard",
                "line3": "Visa USA",
                "city": "Austin",
                "state": "TX",
                "countryCode": "US",
                "postalCode": "78759"
              }
            } </code></pre> <h3>CardInfo Schema</h3> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody>
            <tr><td>accountNumber</td><td>string<br>required<br>minLength:
            12<br>maxLength: 18</td><td>PAN (Primary Account Number) of the card
            to be provisioned or enrolled</td></tr>
            <tr><td>paymentAccountReference</td><td>string<br>optional</td><td>A
            Payment Account Reference (PAR) is a unique reference value
            associated with a specific cardholder PAN</td></tr>
            <tr><td>cvv2</td><td>string<br>conditional<br>minLength:
            3<br>maxLength: 3</td><td>CVV2 value associated with the PAN on the
            card</td></tr>
            <tr><td>nameOnCard</td><td>string<br>conditional<br>minLength:
            0<br>maxLength: 256</td><td>The full name on the card associated
            with the issued/enrolled card</td></tr>
            <tr><td>expirationDate</td><td><code>ExpirationDate</code><br>required</td><td>Cards
            expiration date</td></tr>
            <tr><td>billingAddress</td><td><code>Address</code><br>optional</td><td>Billing
            address associated with the card</td></tr> </tbody> </table>
            <h3>ExpirationDate Schema</h3> <table style="border-collapse:
            collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>month</td><td>string<br>required<br>minLength:
            2<br>maxLength: 2</td><td>The month that the card is set to
            expire</td></tr>
            <tr><td>year</td><td>string<br>required<br>minLength:
            4<br>maxLength: 4</td><td>The year that the card is set to
            expire</td></tr> </tbody> </table> <h3>Address Schema</h3> <table
            style="border-collapse: collapse;"> <thead>
            <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
            <tbody> <tr><td>name</td><td>string<br>optional<br>maxLength:
            100</td><td>The name of the addressee</td></tr>
            <tr><td>line1</td><td>string<br>optional<br>maxLength:
            140</td><td>First line of the address</td></tr>
            <tr><td>line2</td><td>string<br>optional<br>maxLength:
            140</td><td>Second line of the address</td></tr>
            <tr><td>line3</td><td>string<br>optional<br>maxLength:
            140</td><td>Third line of the address</td></tr>
            <tr><td>city</td><td>string<br>optional<br>maxLength:
            100</td><td>Name of the city</td></tr>
            <tr><td>state</td><td>string<br>conditional</td><td>Second part of
            the country-subdivision (State or Province) code in ISO 3166-2
            format of the country, eg \"TX\"</td></tr>
            <tr><td>postalCode</td><td>string<br>optional<br>minLength:
            3<br>maxLength: 16</td><td>The postal code associated with the
            address, such as zip code</td></tr>
            <tr><td>countryCode</td><td>string<br>required</td><td>ISO 3166-1
            alpha-2 formatted country code associated with the address</td></tr>
            </tbody> </table> </div>
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: >
            <div>

            <p><code>Conditional.</code> </p>
              <p> Either of <code>vCardId</code> or <code>encCard</code> is required.</p>
            <p>Visa-defined unique ID of the card to produce the ApplePay
            provisioning card data for. <code>vCardId</code> will take
            precedence in case both <code>vCardId</code> and
            <code>encCard</code> is part of the request body.
             </p></div> 
        deviceCert:
          maxLength: 8192
          minLength: 0
          type: string
          description: Apple device X.509 certificates received from mobile application.
        signingKeyID:
          maxLength: 100
          minLength: 1
          type: string
          description: Token service provider specific signing key identifier
        nonceSignature:
          maxLength: 512
          minLength: 0
          type: string
          description: Signature signed by Apple on nonce in SE.
        tokenServiceProvider:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Indicates which token service provider will process the card data
            generated for provisioning. The default value is "V".
          enum:
            - V
            - M
    ValidationError:
      title: ValidationError
      type: object
      properties:
        reason:
          type: string
          description: >-
            Reason Code for the error condition. Error handling business logic
            should be driven by this field.
        status:
          type: integer
          description: 3-digit HTTP Status Code
          format: int32
        details:
          type: array
          description: >-
            Array of fields - Data validation errors should use this field to
            specify which fields failed the validation using location field.
          items:
            $ref: '#/components/schemas/ErrorDetails'
        message:
          type: string
          description: >-
            Message describing the error condition with additional information
            wherever applicable.
    Expiry:
      title: Expiry
      required:
        - month
        - year
      type: object
      properties:
        year:
          pattern: ^2[0-9]{3}$
          type: string
          description: 4-digit expiration year
        month:
          pattern: ^(0[1-9]|1[0-2])
          type: string
          description: 2-digit card expiration month
    EncryptedCard:
      type: string
      description: >
        <div>

        <p>Encrypted <code>CardInfo</code></p> <h3>Example</h3> <pre><code>{
          "accountNumber": "4000000000000000",
          "nameOnCard": "Digital Issuance",
          "cvv2": "123",
          "expirationDate": {
              "month": "01",
              "year": "2021"
          },
          "billingAddress": {
            "name": "Digital Issuance",
            "line1": "12301 Research Boulevard",
            "line2": "Research Boulevard",
            "line3": "Visa USA",
            "city": "Austin",
            "state": "TX",
            "countryCode": "US",
            "postalCode": "78759"
          }
        } </code></pre> <h3>CardInfo Schema</h3> <table style="border-collapse:
        collapse;"> <thead>
        <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
        <tbody> <tr><td>accountNumber</td><td>string<br>required<br>minLength:
        12<br>maxLength: 18</td><td>PAN (Primary Account Number) of the card to
        be provisioned or enrolled</td></tr>
        <tr><td>paymentAccountReference</td><td>string<br>optional</td><td>A
        Payment Account Reference (PAR) is a unique reference value associated
        with a specific cardholder PAN</td></tr>
        <tr><td>cvv2</td><td>string<br>conditional<br>minLength: 3<br>maxLength:
        3</td><td>CVV2 value associated with the PAN on the card</td></tr>
        <tr><td>nameOnCard</td><td>string<br>conditional<br>minLength:
        0<br>maxLength: 256</td><td>The full name on the card associated with
        the issued/enrolled card</td></tr>
        <tr><td>expirationDate</td><td><code>ExpirationDate</code><br>required</td><td>Cards
        expiration date</td></tr>
        <tr><td>billingAddress</td><td><code>Address</code><br>optional</td><td>Billing
        address associated with the card</td></tr> </tbody> </table>
        <h3>ExpirationDate Schema</h3> <table style="border-collapse:
        collapse;"> <thead>
        <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
        <tbody> <tr><td>month</td><td>string<br>required<br>minLength:
        2<br>maxLength: 2</td><td>The month that the card is set to
        expire</td></tr> <tr><td>year</td><td>string<br>required<br>minLength:
        4<br>maxLength: 4</td><td>The year that the card is set to
        expire</td></tr> </tbody> </table> <h3>Address Schema</h3> <table
        style="border-collapse: collapse;"> <thead>
        <tr><th>Field</th><th>Type</th><th>Description</th></tr> </thead>
        <tbody> <tr><td>name</td><td>string<br>optional<br>maxLength:
        100</td><td>The name of the addressee</td></tr>
        <tr><td>line1</td><td>string<br>optional<br>maxLength: 140</td><td>First
        line of the address</td></tr>
        <tr><td>line2</td><td>string<br>optional<br>maxLength:
        140</td><td>Second line of the address</td></tr>
        <tr><td>line3</td><td>string<br>optional<br>maxLength: 140</td><td>Third
        line of the address</td></tr>
        <tr><td>city</td><td>string<br>optional<br>maxLength: 100</td><td>Name
        of the city</td></tr>
        <tr><td>state</td><td>string<br>conditional</td><td>Second part of the
        country-subdivision (State or Province) code in ISO 3166-2 format of
        the country, eg \"TX\"</td></tr>
        <tr><td>postalCode</td><td>string<br>optional<br>minLength:
        3<br>maxLength: 16</td><td>The postal code associated with the address,
        such as zip code</td></tr>
        <tr><td>countryCode</td><td>string<br>required</td><td>ISO 3166-1
        alpha-2 formatted country code associated with the address</td></tr>
        </tbody> </table> </div>
    ValidationErrorResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ValidationError'
    Error:
      title: Error
      type: object
      properties:
        reason:
          type: string
          description: >-
            Reason Code for the error condition. Error handling business logic
            should be driven by this field.
        status:
          type: integer
          description: 3-digit HTTP Status Code
          format: int32
        message:
          type: string
          description: >-
            Message describing the error condition with additional information
            wherever applicable.
    ErrorResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/Error'
    EnrollCardForCustomerRequest:
      title: EnrollCardForCustomerRequest
      type: object
      properties:
        encCard:
          $ref: '#/components/schemas/EncryptedCard'
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: >-
            The ID of the card that is to be associated with the given customer
            ID.
    GooglePayProvisioningResponse:
      title: GooglePayProvisioningResponse
      required:
        - expirationDate
        - last4
        - opaquePaymentCard
        - vCardID
      type: object
      properties:
        last4:
          maxLength: 4
          minLength: 4
          type: string
          description: Last 4 digits of card
        vCardID:
          maxLength: 42
          minLength: 42
          type: string
          description: Visa-defined unique ID of the card
[...]
