openapi: 3.2.0
info:
  title: Visa Transaction Controls Alert History API
  description: The Visa Transaction Controls (VTC) API enables issuers to offer their cardholders the ability to set spending rules and receive real-time alerts on their Visa payment cards. Cardholders can define rules to block or alert on specific transaction types, merchant categories, geographic locations, spending thresholds, and more.
  version: '1'
  contact:
    name: Visa Developer Support
    url: https://developer.visa.com/support
  termsOfService: https://developer.visa.com/capabilities/vctc/product-terms
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox Server
- url: https://api.visa.com
  description: Production Server
security:
- mutualTLS: []
tags:
- name: Alert History API
  description: Retrieve notification history for accounts and manage customer profiles for alert delivery.
paths:
  /vctc/alerthistory/v1/alerthistoryinquiry:
    post:
      operationId: getAlertHistory
      summary: Get Alert History
      description: Retrieves the VTC notification history for a registered account, including details of all alerts generated based on the consumer's configured rules and thresholds.
      tags:
      - Alert History API
      requestBody:
        description: Alert history inquiry parameters
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertHistoryRequest'
      responses:
        '200':
          description: Alert history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertHistoryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error description
    AlertHistoryResponse:
      type: object
      properties:
        alerts:
          type: array
          description: List of alert notifications
          items:
            type: object
            properties:
              alertId:
                type: string
                description: Unique alert identifier
              alertType:
                type: string
                description: Type of alert triggered
              transactionAmount:
                type: number
                format: double
                description: Transaction amount that triggered the alert
              merchantName:
                type: string
                description: Merchant name
              alertDateTime:
                type: string
                format: date-time
                description: Date and time the alert was generated
              controlType:
                type: string
                description: Type of control that triggered the alert
              actionTaken:
                type: string
                description: Action taken (ALERT or DECLINE)
                enum:
                - ALERT
                - DECLINE
    AlertHistoryRequest:
      type: object
      required:
      - primaryAccountNumber
      properties:
        primaryAccountNumber:
          type: string
          description: Primary account number
        startDate:
          type: string
          format: date
          description: Start date for the history query
        endDate:
          type: string
          format: date
          description: End date for the history query
  securitySchemes:
    mutualTLS:
      type: mutualTLS
      description: Two-way SSL mutual authentication using a PKI certificate issued by Visa.
externalDocs:
  description: Visa Transaction Controls Documentation
  url: https://developer.visa.com/capabilities/vctc/docs
