openapi: 3.2.0
info:
  title: Visa Merchant Search Merchant Search API
  description: The Visa Merchant Search API provides enriched and precise merchant data to create a more transparent and effective transaction process. The API supports transaction enrichment with enhanced merchant information, generic merchant search by name and location, and nearby merchant discovery for Visa-accepting locations.
  version: '1'
  contact:
    name: Visa Developer Support
    url: https://developer.visa.com/support
  termsOfService: https://developer.visa.com/capabilities/merchant_search/product-terms
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox Server
- url: https://api.visa.com
  description: Production Server
security:
- mutualTLS: []
tags:
- name: Merchant Search API
  description: Search for merchants by name and location to retrieve Visa merchant identifiers and related details.
paths:
  /merchantsearch/v1/search:
    post:
      operationId: searchMerchants
      summary: Search Merchants
      description: Searches for merchants by name and location criteria, returning Visa merchant identifiers and related business details. This operation enables applications to find and validate merchant information in the Visa merchant database.
      tags:
      - Merchant Search API
      requestBody:
        description: Merchant search criteria
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantSearchRequest'
      responses:
        '200':
          description: Search results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    MerchantSearchRequest:
      type: object
      required:
      - searchAttrList
      properties:
        searchAttrList:
          type: object
          description: Search attributes for merchant lookup
          properties:
            merchantName:
              type: string
              description: Name of the merchant to search for
            merchantCity:
              type: string
              description: City where the merchant is located
            merchantState:
              type: string
              description: State or province of the merchant
            merchantCountryCode:
              type: string
              description: ISO 3166-1 numeric country code
            merchantPostalCode:
              type: string
              description: Postal code of the merchant location
            merchantCategoryCode:
              type: array
              description: List of Merchant Category Codes to filter by
              items:
                type: string
        searchOptions:
          type: object
          description: Additional search configuration
          properties:
            maxRecords:
              type: integer
              description: Maximum number of records to return
              minimum: 1
              maximum: 100
            matchScore:
              type: boolean
              description: Include match confidence score in results
    MerchantSearchResponse:
      type: object
      properties:
        merchantSearchServiceResponse:
          type: object
          properties:
            response:
              type: array
              description: List of matching merchants
              items:
                $ref: '#/components/schemas/MerchantRecord'
            totalCount:
              type: integer
              description: Total number of matching records
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error description
    MerchantRecord:
      type: object
      properties:
        visaMerchantId:
          type: string
          description: Visa-assigned merchant identifier
        visaStoreId:
          type: string
          description: Visa-assigned store identifier
        merchantName:
          type: string
          description: Name of the merchant
        merchantCategoryCode:
          type: string
          description: Merchant Category Code
        merchantAddress:
          type: object
          properties:
            street:
              type: string
              description: Street address
            city:
              type: string
              description: City
            state:
              type: string
              description: State or province
            postalCode:
              type: string
              description: Postal code
            country:
              type: string
              description: Country code
        matchScore:
          type: number
          format: double
          description: Confidence score of the match
  securitySchemes:
    mutualTLS:
      type: mutualTLS
      description: Two-way SSL mutual authentication using a PKI certificate issued by Visa.
externalDocs:
  description: Merchant Search Documentation
  url: https://developer.visa.com/capabilities/merchant_search/docs
