openapi: 3.0.1
info:
  title: Foreign Exchange Rates Buyer Management Service API
  description: The Buyer Service provides self-service capabilities that simplify and reduce the implementation process for new VPA buyers (and other downstream systems). Buyers can be created from scratch or from a pre-defined Buyer Template. Either way, these APIs help streamline the process and increase the speed of buyer deployments, as well as provide third parties with insight into the buyers configurations for troubleshooting. For more details about the requirements for creating a buyer, please reference the <a href="/pages/B2B-virtual-account-payment-method-codes#buyer_setup_details">Buyer Setup Details</a> page.
  version: '1'
servers:
- url: https://sandbox.api.visa.com
  description: Sandbox server
security: []
tags:
- name: Buyer Management Service
  description: The Buyer Service provides self-service capabilities that simplify and reduce the implementation process for new VPA buyers (and other downstream systems). Buyers can be created from scratch or from a pre-defined Buyer Template. Either way, these APIs help streamline the process and increase the speed of buyer deployments, as well as provide third parties with insight into the buyers configurations for troubleshooting. For more details about the requirements for creating a buyer, please reference the <a href="/pages/B2B-virtual-account-payment-method-codes#buyer_setup_details">Buyer Setup Details</a> page.
paths:
  /vpa/v2/buyerManagement/buyerTemplate/get:
    post:
      tags:
      - Buyer Management Service
      summary: Get Buyer Template
      description: Obtain all current parameters for an existing buyer template. Optional and default values will be provided as well as the ability to obtain a full picture of the buyer configurations. This is helpful for troubleshooting or to see the details of a template before many any changes to it.
      operationId: Get Buyer Template V2
      requestBody:
        description: Request Details for getting the details of a Buyer template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBuyerTemplateRequest'
            examples:
              Default:
                summary: Default
                value:
                  clientId: B2BWS_1_Region_Bank_9999
                  messageId: '107970185555'
                  templateId: '1_3_9999_811'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerTemplateSuccessResponseV2'
              examples:
                Default:
                  summary: Default
                  value:
                    responseObject:
                      responseFileConfig: null
                      proxyConfig:
                        holdDays: '30'
                        bucketedProxyEnabled: false
                        autoRefreshEnabled: true
                      boostPaymentConfig:
                        boostPaymentEnabled: false
                      contactInfo:
                        implementationType: 2
                        emailAddress: nigandhe@visa.com
                        phone1: '99999977'
                      buyerFeatureConfig:
                        fullAccountViewEnabled: true
                        cardMaskingDigitsOnline: '12'
                        vcfDataFeedIndicator: Y
                        onlinePaymentInstructionEnabled: true
                        onlinePaymentRequisitionEnabled: true
                        cardMaskingDigits: '7'
                        pseudoAccountsEnabled: false
                      rvaReconciliationFileConfig: null
                      billingConfig:
                        billingType: I
                        billingBID: '10048816840'
                      stripePaymentConfig:
                        remittanceNotificationEnabled: true
                        stripePaymentEnabled: true
                      vanConfig:
                        fcsBankId: F286
                        vanEnabled: true
                      stpPaymentConfig:
                        remittanceNotificationEnabled: true
                        stpPaymentEnabled: true
                      webServicesConfig:
                        apiCodes: null
                        webServicesEnabled: false
                        clientId: null
                        suppressSupplierNotification: null
                        vbdsClientId: null
                      templateId: '1_3_9999_811'
                      paymentConfig:
                        securityCodeRequired: true
                        allowableCurrencies:
                        - USD
                        expirationDays: '30'
                        billingCurrency: USD
                        expirationBufferDays: '5'
                        paymentAdviceOption: C
                      paymentFileCommConfig: null
                      paymentSecurityConfig:
                        defaultSecurityFieldCode: '1'
                        defaultSecurityQuestion: Credential Text
                        customSecurityQuestions:
                        - What is Security answer?
                        - What is SSN Number?
                        customSecurityQuestionsEnabled: true
                      approvalWorkflowConfig:
                        workflowFunctionCodes:
                        - AUCL
                        - PYIN
                        workflowConfigEnabled: true
                      authorizationControlConfig:
                        issuerHoldingBID: '10000290'
                        authControlEnabled: true
                        alertsEnabled: true
                      paymentNotificationConfig:
                        defaultBuyerLanguageCode: en_US
                        supplierReminderNotificationDays: '12'
                        dateFormat: MMDDYYYY
                        supplierReminderNotificationEnabled: true
                        attachRemittanceFileDetails: true
                      templateName: VPP-APITemplate-vcfInd-Null23
                      templateDescription: VPP-APITemplate-vcfInd-Null23_Updated
                      reconciliationFileConfig:
                        adhocReconciliationReportEnabled: false
                        commFileId: null
                        templateName: null
                        onlinePaymentReconciliationEnabled: false
                      processorConfig:
                        closeAccount: true
                    responseStatus:
                      statusDesc: Buyer template details retrieved successfully.
                      messageId: '107970185555'
                      status: success
                      statusCode: BSGT0000
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_template">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: templateRequest
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1get/post'
        default: false
      - label: v2 - Latest
        operationPointer: '#/paths/~1vpa~1v2~1buyerManagement~1buyerTemplate~1get/post'
        default: false
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyer/get:
    post:
      tags:
      - Buyer Management Service
      summary: Get Buyer Details
      description: ''
      operationId: Get Buyer Details
      requestBody:
        description: Parameters required to retrieve a Buyer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBuyerRequest'
            examples:
              Default:
                summary: Default
                value:
                  clientId: B2BWS_1_1_1111
                  messageId: '107970184447'
                  buyerId: '200031032'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    responseObject:
                      responseFileConfig:
                        fileLevel: null
                        recipientLoginIds: null
                        commFileId: null
                        fileFormat: null
                      proxyConfig:
                        holdDays: '180'
                        bucketedProxyEnabled: false
                        autoRefreshEnabled: false
                      boostPaymentConfig:
                        boostPaymentEnabled: false
                      contactInfo:
                        zipCode: '78750'
                        phone1Ext: null
                        city: Austin
                        contactName: VisaCompany
                        phone2Ext: null
                        phone3Ext: null
                        phone2: null
                        phone3: null
                        buyerId: '200031032'
                        buyerName: '2000131032'
                        templateId: null
                        phone1: '1234567890'
                        implementationType: 2
                        companyId: '2000131032'
                        emailAddress: visab2bvpaqa1@visa.com
                        countryCode: USA
                        addressLine1: addr1
                        addressLine2: null
                        state: TX
                        addressLine3: null
                      buyerFeatureConfig:
                        fullAccountViewEnabled: false
                        cardMaskingDigitsOnline: '12'
                        vcfDataFeedIndicator: Y
                        onlinePaymentInstructionEnabled: true
                        onlinePaymentRequisitionEnabled: true
                        cardMaskingDigits: '4'
                        pseudoAccountsEnabled: false
                      rvaReconciliationFileConfig:
                        fileLevel: ''
                        recipientLoginIds: []
                        commFileId: ''
                        deliveryTime: ''
                        deliveryFrequency: null
                        templateId: ''
                        fileFormat: null
                      paymentFileConfig:
                        edi824FileId: null
                        edi997FileId: null
                        inboundFileId: null
                      billingConfig:
                        billingType: I
                        billingBID: '10048816840'
                      stripePaymentConfig:
                        remittanceNotificationEnabled: false
                        stripePaymentEnabled: false
                      vanConfig:
                        fcsBankId: null
                        processingType: null
                        aceClientId: null
                        admClientId: null
                        visaADMOptionId: null
                        mcADMOptionId: null
                        vanEnabled: false
                        settlementExpirationDays: null
                      stpPaymentConfig:
                        accountHolderFirstName: null
                        remittanceNotificationEnabled: false
                        stpPaymentEnabled: false
                        accountHolderLastName: null
                      webServicesConfig:
                        apiCodes: null
                        webServicesEnabled: false
                        clientId: null
                        suppressSupplierNotification: false
                        vbdsClientId: ''
                      paymentConfig:
                        securityCodeRequired: true
                        allowableCurrencies:
                        - INR
                        - USD
                        expirationDays: '25'
                        billingCurrency: USD
                        expirationBufferDays: '5'
                        defaultSecurityCode: true
                        paymentAdviceOption: C
                      paymentSecurityConfig:
                        defaultSecurityFieldCode: '1'
                        defaultSecurityQuestion: Credential Text
                        customSecurityQuestions: []
                        customSecurityQuestionsEnabled: false
                      approvalWorkflowConfig:
                        workflowFunctionCodes: []
                        workflowConfigEnabled: false
                      authorizationControlConfig:
                        authControlPaymentTemplate: Custom_Standard
                        issuerHoldingBID: ''
                        authControlEnabled: false
                        defaultAuthControlEnabled: false
                        alertsEnabled: false
                      paymentNotificationConfig:
                        defaultBuyerLanguageCode: en_US
                        supplierReminderNotificationDays: '7'
                        paymentAdviceTemplate: Custom_Standard
                        settlementSource: '1'
                        dateFormat: DDMMYYYY
                        defaultSupplierReminderNotificationEnabled: true
                        defaultAttachRemittanceDetailsFile: true
                        supplierReminderNotificationEnabled: true
                        attachRemittanceDetailsFile: true
                      reconciliationFileConfig:
                        fileLevel: ''
                        recipientLoginIds: []
                        adhocReconciliationReportEnabled: false
                        commFileId: ''
                        deliveryTime: ''
                        templateName: null
                        deliveryFrequency: null
                        onlinePaymentReconciliationEnabled: false
                        fileFormat: null
                      processorConfig:
                        embossedLine2: '<<Buyer Name>> '
                        closeAccountEnabled: true
                        processorFields:
                          aceOptionSet: '1111'
                          accountIdOptionSet: '1111'
                          mailerIdOptionSet: '1111'
                          companyNumber: '1111111'
                          cycleFrequencyCode: '15'
                          cmidDefaultValue: ''
                          unitId: '1000000'
                          agentNumber: '0000'
                          cycleFrequencyType: Monthly
                        suaEmbossedLine1: <<Buyer Name>>~1
                        lodgedEmbossedLine1: <<Supplier Name>>~1
                    responseStatus:
                      statusDesc: Successfully retrieved the buyer
                      messageId: '1686861552'
                      status: success
                      statusCode: BSGB0000
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_details">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: body
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyer~1get/post'
        default: false
      - label: v2 - Latest
        operationPointer: '#/paths/~1vpa~1v2~1buyerManagement~1buyer~1get/post'
        default: false
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyerTemplate/create:
    post:
      tags:
      - Buyer Management Service
      summary: Create Buyer Template
      description: ''
      operationId: Create Buyer Template
      requestBody:
        description: Details of the Template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuyerTemplateRequest'
            examples:
              Default:
                summary: Default
                value:
                  responseFileConfig: null
                  proxyConfig:
                    holdDays: 2
                    bucketedProxyEnabled: false
                    autoRefreshEnabled: false
                  clientId: B2BWS_1_2_3029
                  boostPaymentConfig:
                    boostPaymentEnabled: false
                  contactInfo: null
                  buyerFeatureConfig: null
                  rvaReconciliationFileConfig: null
                  stripePaymentConfig:
                    remittanceNotificationEnabled: null
                    stripePaymentEnabled: false
                  messageId: '1579603814600'
                  vanConfig: null
                  stpPaymentConfig:
                    remittanceNotificationEnabled: false
                    stpPaymentEnabled: false
                  webServicesConfig: null
                  paymentConfig:
                    securityCodeRequired: false
                    allowableCurrencies:
                    - USD
                    expirationDays: 30
                    billingCurrency: USD
                    expirationBufferDays: 5
                    paymentAdviceOption: C
                  paymentFileCommConfig: null
                  paymentSecurityConfig:
                    defaultSecurityFieldCode: 1
                    defaultSecurityQuestion: Credential Text
                    customSecurityQuestions: null
                    customSecurityQuestionsEnabled: false
                  approvalWorkflowConfig:
                    workflowFunctionCodes:
                    - AUCL
                    - LCRC
                    - PYIN
                    - PYRN
                    workflowConfigEnabled: true
                  authorizationControlConfig:
                    issuerHoldingBID: '10029012'
                    authControlEnabled: true
                    alertsEnabled: false
                  paymentNotificationConfig:
                    defaultBuyerLanguageCode: en_US
                    supplierReminderNotificationDays: 7
                    dateFormat: DDMMYYYY
                    supplierReminderNotificationEnabled: true
                    attachRemittanceFileDetails: false
                  templateName: '1579603814600'
                  templateDescription: VPP Template
                  reconciliationFileConfig: null
                  processorConfig:
                    closeAccount: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerTemplateSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    templateId: '1_2_3029_50'
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#create_buyer_template">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: template
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1create/post'
        default: false
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyerTemplate/update:
    patch:
      tags:
      - Buyer Management Service
      summary: Update Buyer Template
      description: ''
      operationId: Update Buyer Template
      requestBody:
        description: Details of the values in the Template to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuyerTemplateRequest'
            examples:
              Default:
                summary: Default
                value:
                  proxyConfig: ''
                  clientId: B2BWS_1_Region_Bank_19401
                  boostPaymentConfig: ''
                  contactInfo: ''
                  buyerFeatureConfig: ''
                  stripePaymentConfig: ''
                  messageId: '1579804800637'
                  vanConfig: ''
                  stpPaymentConfig: ''
                  webServicesConfig: ''
                  templateId: '1_1_1940_81'
                  syncBuyerProfiles: true
                  paymentConfig: ''
                  paymentSecurityConfig: ''
                  approvalWorkflowConfig: ''
                  authorizationControlConfig:
                    issuerHoldingBID: '12345678'
                    authControlEnabled: true
                    alertsEnabled: ''
                  paymentNotificationConfig: ''
                  templateName: '1579804800637'
                  templateDescription: This ise first test template
                  reconciliationFileConfig: ''
                  processorConfig: ''
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuyerTemplateSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    templateId: '1_1_1940_81'
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#update_buyer_template">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: template
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1update/patch'
        default: false
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyer/update:
    patch:
      tags:
      - Buyer Management Service
      summary: Update Buyer
      description: ''
      operationId: Update Buyer
      requestBody:
        description: Profile Details of the buyer that needs to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuyerRequest-1'
            examples:
              Default:
                summary: Default
                value:
                  proxyConfig:
                    holdDays: 3
                    bucketedProxyEnabled: false
                    autoRefreshEnabled: false
                  clientId: B2BWS_1_1_1111
                  boostPaymentConfig:
                    boostPaymentEnabled: false
                  contactInfo:
                    zipCode: '78759'
                    phoneExt3: ''
                    city: Austin
                    contactName: VisaCompany
                    phone2: ''
                    phone3: ''
                    defaultCurrencyCode: USD
                    buyerId: '151785'
                    buyerName: TestPaymentFile
                    templateId: '1988'
                    phone1: '8888888888'
                    companyId: '151785'
                    emailAddress: visab2bvpaqa1@visa.com
                    countryCode: USA
                    addressLine1: 12301ResearchBlvd23
                    phoneExt1: ''
                    addressLine2: Build#33
                    state: TX
                    phoneExt2: ''
                    addressLine3: 4thfloor
                  buyerFeatureConfig:
                    fullAccountViewEnabled: false
                    cardMaskingDigitsOnline: 12
                    onlinePaymentInstructionEnabled: false
                    onlinePaymentRequisitionEnabled: false
                    cardMaskingDigits: 12
                    pseudoAccountsEnabled: false
                  stripePaymentConfig:
                    remittanceNotificationEnabled: false
                    stripePaymentEnabled: false
                  messageId: '1579589087445'
                  vanConfig:
                    processingType: '1'
                    admClientId: '1234'
                    mcADMOptionId: '12345'
                    vanEnabled: false
                  stpPaymentConfig:
                    accountHolderFirstName: Visa
                    remittanceNotificationEnabled: false
                    stpPaymentEnabled: false
                    accountHolderLastName: Card
                  webServicesConfig:
                    apiCodes:
                    - SMGS
                    webServicesEnabled: true
                    clientId: B2BWS_1_1_1111
                    vbdsDataSubscription:
                    - dataSubscriptionType: 5001
                      dataSubscriptionAccountType:
                      - subscribed: true
                        accountType: MEMO
                      - subscribed: true
                        accountType: NVPA
                    suppressSupplierNotification: false
                    vbdsClientId: '12345'
                  paymentConfig:
                    securityCodeRequired: false
                    allowableCurrencies:
                    - USD
                    expirationDays: 30
                    billingCurrency: USD
                    expirationBufferDays: 5
                    paymentAdviceOption: C
                  paymentSecurityConfig:
                    defaultSecurityFieldCode: 1
                    defaultSecurityQuestion: ''
                    customSecurityQuestions:
                    - birthday
                    customSecurityQuestionsEnabled: true
                  approvalWorkflowConfig:
                    workflowFunctionCodes:
                    - AUCL
                    - PYRN
                    - LCRC
                    - PYIN
                    workflowConfigEnabled: true
                  authorizationControlConfig:
                    authControlEnabled: true
                    alertsEnabled: false
                  paymentNotificationConfig:
                    supplierReminderNotificationDays: 2
                    dateFormat: DDMMYYYY
                    attachRemittanceDetails: false
                    supplierReminderNotificationEnabled: true
                    defaultLanguageCode: en_us
                  processorConfig:
                    processorFields:
                      aceOptionSet: 34d2
                      corporationId: 2r
                      bin: sd2
                      cmidDefaultValue: 245d3534
                      agentNumber: '3453'
                      principalNumber: '66'
                      accountIDOptionSet: '3482'
                      companyNumber: '12344'
                      authorizationStrategyCode: hh66
                      pricingStrategy: 66hh
                      unitId: prop1
                      mapId: 66hh
                      processType: 09
                      productCodes: sdjssd
                      user4Code: 345u
                      hierarchyNode: s3
                      plasticCode: '9866'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuyerSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    responseStatus:
                      statusDesc: Successfully updated the buyer
                      messageId: '1686772964'
                      status: success
                      statusCode: BSUB0000
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#update_buyer">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: body
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyer~1update/patch'
        default: false
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyer/create:
    post:
      tags:
      - Buyer Management Service
      summary: Create Buyer
      description: ''
      operationId: Create Buyer
      requestBody:
        description: Buyer object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuyerRequest-3'
            examples:
              Default:
                summary: Default
                value:
                  proxyConfig:
                    holdDays: 3
                    bucketedProxyEnabled: false
                    autoRefreshEnabled: false
                  clientId: B2BWS_1_1_1111
                  boostPaymentConfig:
                    boostPaymentEnabled: false
                  contactInfo:
                    zipCode: '78759'
                    phoneExt3: ''
                    city: Austin
                    contactName: VisaCompany
                    phone2: ''
                    phone3: ''
                    defaultCurrencyCode: USD
                    buyerId: '8887773'
                    buyerName: TestPaymentFileLijie14
                    phone1: '8888888888'
                    companyId: '8887773'
                    emailAddress: visab2bvpaqa1@visa.com
                    countryCode: USA
                    addressLine1: 12301 ResearchBlvd23
                    phoneExt1: ''
                    addressLine2: Build#33
                    state: TX
                    phoneExt2: ''
                    addressLine3: 4th floor
                  buyerFeatureConfig:
                    fullAccountViewEnabled: false
                    cardMaskingDigitsOnline: 12
                    onlinePaymentInstructionEnabled: false
                    onlinePaymentRequisitionEnabled: false
                    cardMaskingDigits: 12
                    pseudoAccountsEnabled: false
                  paymentFileConfig:
                    inboundFileId: '700147'
                  stripePaymentConfig:
                    remittanceNotificationEnabled: false
                    stripePaymentEnabled: false
                  messageId: '1579589087445'
                  stpPaymentConfig:
                    accountHolderFirstName: Visa
                    remittanceNotificationEnabled: false
                    stpPaymentEnabled: false
                    accountHolderLastName: Card
                  webServicesConfig:
                    apiCodes:
                    - SMGS
                    webServicesEnabled: true
                    clientId: B2BWS_1_1_1111
                    vbdsDataSubscription:
                    - dataSubscriptionType: 5001
                      dataSubscriptionAccountType:
                      - subscribed: true
                        accountType: MEMO
                      - subscribed: true
                        accountType: NVPA
                    suppressSupplierNotification: false
                    vbdsClientId: '12345'
                  paymentConfig:
                    securityCodeRequired: false
                    allowableCurrencies:
                    - USD
                    expirationDays: 30
                    billingCurrency: USD
                    expirationBufferDays: 5
                    paymentAdviceOption: C
                  paymentSecurityConfig:
                    defaultSecurityFieldCode: 1
                    customSecurityQuestions:
                    - birthday
                    customSecurityQuestionsEnabled: true
                  approvalWorkflowConfig:
                    workflowFunctionCodes:
                    - AUCL
                    workflowConfigEnabled: true
                  authorizationControlConfig:
                    issuerHoldingBID: '12345678'
                    authControlEnabled: true
                    alertsEnabled: false
                  paymentNotificationConfig:
                    supplierReminderNotificationDays: 2
                    dateFormat: DDMMYYYY
                    attachRemittanceDetails: false
                    supplierReminderNotificationEnabled: true
                    defaultLanguageCode: en_us
                  reconciliationFileConfig:
                    fileLevel: B
                    commFileId: '700144'
                  processorConfig:
                    processorFields:
                      aceOptionSet: 34d2
                      subProductCode: REG
                      corporationId: 2r
                      cycleFrequencyCode: '5'
                      bin: sd2
                      hierarchyLevel: '2'
                      cmidDefaultValue: 245d3534
                      agentNumber: '3453'
                      principalNumber: '66'
                      productCode: VPU
                      accountIDOptionSet: '3482'
                      companyNumber: '12344'
                      cycleFrequency: Bi-weekly
                      authorizationStrategyCode: hh66
                      pricingStrategy: 66hh
                      unitId: prop1
                      mapId: 66hh
                      processType: 09
                      user4Code: 345u
                      hierarchyNode: s3
                      plasticCode: '9866'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    responseStatus:
                      statusDesc: Successfully created the buyer
                      messageId: '1686772964'
                      status: success
                      statusCode: BSUB0000
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#create_buyer">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: body
      x-operationVersions:
      - label: v1
        operationPointer: '#/paths/~1vpa~1v1~1buyerManagement~1buyer~1create/post'
        default: false
      x-hideTryIt: true
  /vpa/v2/buyerManagement/buyer/get:
    post:
      tags:
      - Buyer Management Service
      summary: Get Buyer Details
      description: Retrieve all of the current parameters of an existing buyers’ profile. Use this for troubleshooting or to get the full buyer profile details before updating a buyer. Enables the addition, update or deletion of new company template and profiles.
      operationId: Get Buyer Details v2
      requestBody:
        description: Parameters required to retrieve a Buyer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBuyerRequest'
            examples:
              Default:
                summary: Default
                value:
                  clientId: B2BWS_1_1_1111
                  messageId: '107970184447'
                  buyerId: '200031032'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerSuccessResponseV2-3'
              examples:
                Default:
                  summary: Default
                  value:
                    responseObject:
                      responseFileConfig:
                        fileLevel: null
                        recipientLoginIds: null
                        commFileId: null
                        fileFormat: null
                      proxyConfig:
                        holdDays: '180'
                        bucketedProxyEnabled: false
                        autoRefreshEnabled: false
                      boostPaymentConfig:
                        boostPaymentEnabled: false
                      contactInfo:
                        zipCode: '78750'
                        phone1Ext: null
                        city: Austin
                        contactName: VisaCompany
                        phone2Ext: null
                        phone3Ext: null
                        phone2: null
                        phone3: null
                        buyerId: '200031032'
                        buyerName: '2000131032'
                        templateId: null
                        phone1: '1234567890'
                        implementationType: 2
                        companyId: '2000131032'
                        emailAddress: visab2bvpaqa1@visa.com
                        countryCode: USA
                        addressLine1: addr1
                        addressLine2: null
                        state: TX
                        addressLine3: null
                      buyerFeatureConfig:
                        fullAccountViewEnabled: false
                        cardMaskingDigitsOnline: '12'
                        vcfDataFeedIndicator: Y
                        onlinePaymentInstructionEnabled: true
                        onlinePaymentRequisitionEnabled: true
                        cardMaskingDigits: '4'
                        pseudoAccountsEnabled: false
                      rvaReconciliationFileConfig:
                        fileLevel: ''
                        recipientLoginIds: []
                        commFileId: ''
                        deliveryTime: ''
                        deliveryFrequency: null
                        templateId: ''
                        fileFormat: null
                      paymentFileConfig:
                        edi824FileId: null
                        edi997FileId: null
                        inboundFileId: null
                      billingConfig:
                        billingType: I
                        billingBID: '10048816840'
                      stripePaymentConfig:
                        remittanceNotificationEnabled: false
                        stripePaymentEnabled: false
                      vanConfig:
                        fcsBankId: null
                        processingType: null
                        aceClientId: null
                        admClientId: null
                        visaADMOptionId: null
                        mcADMOptionId: null
                        vanEnabled: false
                        settlementExpirationDays: null
                      stpPaymentConfig:
                        accountHolderFirstName: null
                        remittanceNotificationEnabled: false
                        stpPaymentEnabled: false
                        accountHolderLastName: null
                      webServicesConfig:
                        apiCodes: null
                        webServicesEnabled: false
                        clientId: null
                        vbdsDataSubscription:
                        - dataSubscriptionType: 5001
                          dataSubscriptionAccountType:
                          - subscribed: true
                            accountType: MEMO
                          - subscribed: true
                            accountType: NVPA
                        suppressSupplierNotification: false
                        vbdsClientId: '12345'
                      paymentConfig:
                        securityCodeRequired: true
                        allowableCurrencies:
                        - INR
                        - USD
                        expirationDays: '25'
                        billingCurrency: USD
                        expirationBufferDays: '5'
                        defaultSecurityCode: true
                        paymentAdviceOption: C
                      paymentSecurityConfig:
                        defaultSecurityFieldCode: '1'
                        defaultSecurityQuestion: Credential Text
                        customSecurityQuestions: []
                        customSecurityQuestionsEnabled: false
                      approvalWorkflowConfig:
                        workflowFunctionCodes: []
                        workflowConfigEnabled: false
                      authorizationControlConfig:
                        authControlPaymentTemplate: Custom_Standard
                        issuerHoldingBID: ''
                        authControlEnabled: false
                        defaultAuthControlEnabled: false
                        alertsEnabled: false
                      paymentNotificationConfig:
                        defaultBuyerLanguageCode: en_US
                        supplierReminderNotificationDays: '7'
                        paymentAdviceTemplate: Custom_Standard
                        settlementSource: '1'
                        dateFormat: DDMMYYYY
                        defaultSupplierReminderNotificationEnabled: true
                        defaultAttachRemittanceDetailsFile: true
                        supplierReminderNotificationEnabled: true
                        attachRemittanceDetailsFile: true
                      reconciliationFileConfig:
                        fileLevel: ''
                        recipientLoginIds: []
                        adhocReconciliationReportEnabled: false
                        commFileId: ''
                        deliveryTime: ''
                        templateName: null
                        deliveryFrequency: null
                        onlinePaymentReconciliationEnabled: false
                        fileFormat: null
                      processorConfig:
                        embossedLine2: '<<Buyer Name>> '
                        closeAccountEnabled: true
                        processorFields:
                          aceOptionSet: '1111'
                          accountIdOptionSet: '1111'
                          mailerIdOptionSet: '1111'
                          companyNumber: '1111111'
                          cycleFrequencyCode: '15'
                          cmidDefaultValue: ''
                          unitId: '1000000'
                          agentNumber: '0000'
                          cycleFrequencyType: Monthly
                        suaEmbossedLine1: <<Buyer Name>>~1
                        lodgedEmbossedLine1: <<Supplier Name>>~1
                    responseStatus:
                      statusDesc: Successfully retrieved the buyer
                      messageId: '1686861552'
                      status: success
                      statusCode: BSGB0000
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_details">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: body
      x-hideTryIt: true
  /vpa/v1/buyerManagement/buyerTemplate/get:
    post:
      tags:
      - Buyer Management Service
      summary: Get Buyer Template
      description: ''
      operationId: Get Buyer Template
      requestBody:
        description: Request Details for getting the details of a Buyer template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBuyerTemplateRequest'
            examples:
              Default:
                summary: Default
                value:
                  clientId: B2BWS_1_Region_Bank_9999
                  messageId: '1579791844475'
                  templateId: '1_3_9999_110'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerTemplateSuccessResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    responseFileConfig: null
                    proxyConfig:
                      holdDays: '2'
                      bucketedProxyEnabled: false
                      autoRefreshEnabled: true
                    boostPaymentConfig:
                      boostPaymentEnabled: true
                    contactInfo:
                      emailAddress: visab2bvpaqa1@visa.com
                      phone1: '8888888888'
                    buyerFeatureConfig:
                      fullAccountViewEnabled: true
                      cardMaskingDigitsOnline: '12'
                      onlinePaymentInstructionEnabled: true
                      onlinePaymentRequisitionEnabled: true
                      cardMaskingDigits: '12'
                      pseudoAccountsEnabled: false
                    rvaReconciliationFileConfig: null
                    stripePaymentConfig:
                      remittanceNotificationEnabled: true
                      stripePaymentEnabled: true
                    vanConfig:
                      fcsBankId: F285
                      vanEnabled: true
                    stpPaymentConfig:
                      remittanceNotificationEnabled: true
                      stpPaymentEnabled: true
                    webServicesConfig:
                      apiCodes:
                      - ALL
                      webServicesEnabled: true
                      clientId: B2BWS_1_Region_Bank_9999
                      suppressSupplierNotification: false
                      vbdsClientId: '6677'
                    templateId: '1_3_9999_110'
                    paymentConfig:
                      securityCodeRequired: true
                      allowableCurrencies:
                      - USD
                      expirationDays: '30'
                      billingCurrency: USD
                      expirationBufferDays: '5'
                      paymentAdviceOption: C
                    paymentFileCommConfig: null
                    paymentSecurityConfig:
                      defaultSecurityFieldCode: '1'
                      defaultSecurityQuestion: Credential Text
                      customSecurityQuestions: null
                      customSecurityQuestionsEnabled: false
                    approvalWorkflowConfig:
                      workflowFunctionCodes:
                      - AUCL
                      - LCRC
                      - PYIN
                      - PYRN
                      workflowConfigEnabled: true
                    authorizationControlConfig:
                      issuerHoldingBID: null
                      authControlEnabled: true
                      alertsEnabled: false
                    paymentNotificationConfig:
                      defaultBuyerLanguageCode: en_US
                      supplierReminderNotificationDays: '7'
                      dateFormat: DDMMYYYY
                      supplierReminderNotificationEnabled: true
                      attachRemittanceFileDetails: false
                    templateName: '1579774641311'
                    templateDescription: VPP Template
                    reconciliationFileConfig:
                      adhocReconciliationReportEnabled: false
                      commFileId: null
                      templateName: null
                      onlinePaymentReconciliationEnabled: false
                    processorConfig:
                      closeAccount: true
        '400':
          description: Refer to the <a href="/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_template">Error Codes</a> page for the list of error codes for this API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-samplePayload: ''
      x-codegen-request-body-name: templateRequest
      x-hideTryIt: true
components:
  schemas:
    PaymentFileCommConfig:
      type: object
      properties:
        edi824FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 824 outbound response file
        edi997FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 997 outbound ack file
        inboundFileId:
          maxLength: 40
          type: string
          description: Denotes the Comm file ID associated with the EDI 820 inbound payment file
      description: PaymentFileCommConfig contains the comm file configuration for inbound EDI 820, and outbound EDI 997 and EDI 824.
    CreateBuyerTemplateSuccessResponse:
      type: object
      properties:
        responseObject:
          $ref: '#/components/schemas/CreateBuyerTemplateResponse'
        responseStatus:
          $ref: '#/components/schemas/Response'
      description: Create Buyer Template Success Response
    GetVanConfig:
      type: object
      properties:
        fcsBankId:
          maxLength: 4
          type: string
          description: Denotes the Bank Identifier in the TSYS VPP FCS system.
        vanEnabled:
          type: boolean
          description: Denotes if "VANs" (VPP Tokens) are enabled for the template (buyers).
    GetBuyerSuccessResponseV2-3:
      type: object
      properties:
        responseObject:
          $ref: '#/components/schemas/GetBuyerResponseV2-3'
        responseStatus:
          $ref: '#/components/schemas/Response'
      description: Response for a successful fetch of a Buyer
    VanConfigForCreate:
      type: object
      properties:
        fcsBankId:
          maxLength: 4
          type: string
          description: Denotes the Bank Identifier in the TSYS VPP FCS system.  This value will be provided by the Visa implementation team. If the value for this field (the tag is not sent) is not provided, the system defaults it to the bank FCS ID if there is only one setup at the bank level. Supports alphanumeric values. Required if the buyer is enabled for VANs.
        vanEnabled:
          type: boolean
          description: Denotes if "VANs" (VPP Tokens) are enabled for the buyer. Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option.
        admClientId:
          maxLength: 4
          type: string
          description: Denotes the number the TSYS VPP system uses to identify the company on the ACE Decision Max system for account assignment. This value will be provided by the Visa implementation team.
        mcADMOptionId:
          maxLength: 5
          type: string
          description: Denotes the option that will be used to assign the virtual account number in the TSYS VPP platform. For the TS1 platform only, the option must be set up to assign a virtual account number from the same BIN as the primary account number. This value will be provided by the Visa implementation team.  If it is a Mastercard  bank, then this field is required.
        processingType:
          maxLength: 4
          type: string
          description: Denotes the Processing type for the virtual account number (VAN). This value will be provided by the Visa implementation team.
        visaADMOptionId:
          maxLength: 5
          type: string
          description: Denotes the option that will be used to assign the virtual account number in the TSYS VPP platform. For the TS1 platform only, the option must be set up to assign a virtual account number from the same BIN as the primary account number. If it is a Visa bank, then this field is required. This value will be provided by the Visa implementation team.
    GetPaymentSecurityConfig:
      type: object
      properties:
        customSecurityQuestions:
          maxItems: 3
          uniqueItems: true
          type: array
          description: The questions (text) which will be used at random (Only one of the questions will be displayed) to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details. The system sends the security questions and answers to the supplier when the supplier is setup for the buyer.  At least one question needs to be sent if custom security question is enabled for the template.
          items:
            maxLength: 100
            type: string
            description: Upto 3 custom security questions could be used.
        defaultSecurityQuestion:
          maxLength: 256
          type: string
          description: Denotes the text for the default security question which will be displayed to the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.
        defaultSecurityFieldCode:
          maxLength: 1
          pattern: ^[\d]+$
          type: string
          description: Denotes the field system uses to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.
        customSecurityQuestionsEnabled:
          type: boolean
          description: Denotes if the buyer wants to use custom security questions to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.
    BoostPaymentConfigForUpdate:
      type: object
      properties:
        boostPaymentEnabled:
          type: boolean
          description: Denotes if Boost payments is enabled for the buyer.  Valid values are 'True' or 'False'. This field can be set to true only if the bank Boost Payment option is set to  'True'. You can enable Boost payments for a buyer at any time.  But you cannot disable it (update it to false) if there are Boost suppliers present for the buyer
    BResponse:
      type: object
      properties:
        status:
          type: string
          description: Response status `success` or `error`
          enum:
          - success
          - error
        messageId:
          maxLength: 36
          type: string
          description: Unique identifier which was sent in the request.
        statusCode:
          maxLength: 6
          type: string
          description: Status code of the response. It is alphanumeric. The values are specific to each method. For the details of the various error codes returned for this method refer to the "Error Codes" table below.
        statusDesc:
          maxLength: 255
          type: string
          description: Status description of the response.
      description: Default API Response
    UpdateBillingConfig:
      type: object
      properties:
        billingBID:
          type: string
          description: The 11 digit Visa Billing BID that will be billed for the service. This is in the format of 8 digit Visa BID plus 3 digit country code. E.g. 12345678840 where 840 is country code for United States.
        billingType:
          type: string
          description: Identifies who will be billed for use of the service.  Valid Values are I, T or M.  Select I if the issuer will be billed (standard). Select T if Third party / fintech will be billed. Select M if billing needs to be manually billed (not common).
    ProxyConfigForUpdate:
      type: object
      properties:
        holdDays:
          maxLength: 3
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of days an account picked up for a payment in a proxy will be kept on hold before being used for another payment.  For payments, the hold days start from the day the payment was processed and for Request Virtual Account, the hold days start from the day the end date of the RVA has reached. Should be a numeric value between 1 to 999. This field can be updated at any time.
        autoRefreshEnabled:
          type: boolean
          description: Denotes if auto replenishment is enabled for proxies associated with the buyer.  The value of this field should be set to true for VIP and VPP enabled buyers.  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for auto replenishment. This field can be updated at any time.
        bucketedProxyEnabled:
          type: boolean
          description: Denotes if bucketed proxy is enabled for proxies associated with the buyer.  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for bucketed proxy. This field can be updated only if all the proxy pools are empty.
    ContactInfoForCreate-1:
      required:
      - addressLine1
      - buyerName
      - city
      - companyId
      - contactName
      - countryCode
      - state
      - zipCode
      type: object
      properties:
        city:
          maxLength: 20
          type: string
          description: Contains the City Name of the buyer's contact address.
        state:
          maxLength: 27
          type: string
          description: Contains the state of the buyer's contact address.
        phone1:
          maxLength: 20
          type: string
          description: Contains the buyer contact phone number 1. Field is alphanuemeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        phone2:
          maxLength: 20
          type: string
          description: Contains the buyer contact phone number 2. Field is alphanumeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        phone3:
          maxLength: 20
          type: string
          description: Contains the buyer contact phone number 3. Field is alphanumeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        buyerId:
          maxLength: 25
          pattern: ^[\d]+$
          type: string
          description: Contains the buyer identifier as defined in Visa Payables Automation. This is often the ID defined at the processor. Value format is 0–9. It is a mandatory field.
        zipCode:
          maxLength: 9
          type: string
          description: Contains the Postal Code of the buyer's contact address.  Do not include special characters, e.g. hyphen, in the zipcode.  If a special character is provided it will be removed and processed with only nine digits. Null is allowed.
        buyerName:
          maxLength: 100
          type: string
          description: Contains the name of the buyer.  It is a mandatory field.
        companyId:
          maxLength: 10
          pattern: ^[\d]+$
          type: string
          description: Contains the buyer identifier as defined at the issuer processor. Value format is 0–9. It is a mandatory field.
        phone1Ext:
          maxLength: 20
          type: string
          description: Contains the extension of the buyer contact phone number 1. Field is alphanumeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        phone2Ext:
          maxLength: 20
          type: string
          description: Contains the extension of the buyer contact phone number 2. Field is alphanumeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        phone3Ext:
          maxLength: 20
          type: string
          description: Contains the extension of the buyer contact phone number 3. Field is alphanumeric. Special characters allowed are - (dash), ( (Open braces),) (close braces).
        templateId:
          maxLength: 30
          pattern: ^[\w-]+$
          type: string
          description: Contains the unique identifier for a Template asscoiated with the bank. Template id of the template which was sent in the response when you created a new template.  This field should be blank if the buyer is created without a template.
        contactName:
          maxLength: 100
          type: string
          description: Contains the name of the primary contact person in the buyer. The input should be alphabets.
        countryCode:
          maxLength: 3
          pattern: ^[a-zA-Z]{3}$
          type: string
          description: Contains the ISO alpha country code of the buyer's contact address. For example- USA.
        addressLine1:
          maxLength: 40
          type: string
          description: Contains the line 1 of the buyer's contact address.
        addressLine2:
          maxLength: 40
          type: string
          description: Contains the line 2 of the buyer's contact address.
        addressLine3:
          maxLength: 80
          type: string
          description: Contains the line 3 of the buyer's contact address.
        emailAddress:
          maxLength: 100
          type: string
          description: Contains the buyer's contact Email Address.  Should be an valid email address.
        implementationType:
          type: integer
          description: Valid Values are:1 – VPA UI, 2 – VPA API and 3 – Visa Commercial Pay.  Select 1 if buyer will use VPA user interface  (issuer direct use of VPA).  Select 2 if buyer is created by a third party fintech and will use the VPA APIs.  Select 3 if buyer is created in VPA for Visa Commercial Pay service.
    CreateBuyerSuccessResponse:
      type: object
      properties:
        responseStatus:
          $ref: '#/components/schemas/Response'
      description: Response for successful creation of a Buyer
    UpdateApprovalWorkflowConfig:
      type: object
      properties:
        workflowConfigEnabled:
          type: boolean
          description: Denotes if the Approval Workflow is enabled for the template (Buyer).  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option.  This field can be edited only if the sync Buyer Profiles is set to false.
        workflowFunctionCodes:
          maxItems: 10
          uniqueItems: true
          type: array
          items:
            maxLength: 4
            type: string
            description: Denotes the codes for the functionalities for which Approval Workflow needs to be enabled. Valid Values are AUCL – Card Limit Update, LCRC – Lodge/New Card, PYIN – Payment Instruction, PYRN – Payment Requisition At least one function should be passed in this field if workflowconfigenabled field is set to true for the template.  This field can be edited only if the sync Buyer Profiles is set to false.
      description: Parent tag which contains the approval workflow configurations.
    PaymentSecurityConfig:
      type: object
      properties:
        customSecurityQuestions:
          maxItems: 3
          uniqueItems: true
          type: array
          description: The questions (text) which will be used at random (Only one of the questions will be displayed) to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details. The system sends the security questions and answers to the supplier when the supplier is setup for the buyer.  At least one question needs to be sent if custom security question is enabled for the template.
          items:
            maxLength: 100
            type: string
            description: The size of the field should not exceed 100
        defaultSecurityQuestion:
          maxLength: 256
          type: string
          description: Denotes the text for the default security question which will be displayed to the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.  If the value for this field (the tag is not sent) is not provided, the system defaults it to "Credential Text".
        defaultSecurityFieldCode:
          maxLength: 1
          type: string
          description: Denotes the field system uses to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details. Valid values are '1' - Postal code and '2' - Supplier ID. If the value for this field (the tag is not sent) is not provided, the system defaults it to '1'. The default security is used only when the system creates new suppliers while processing payment files (EDI 820) or if custom security question is not enabled.
        customSecurityQuestionsEnabled:
          type: boolean
          description: Denotes if the buyer wants to use custom security questions to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.  Valid values are 'True' and 'False'. Optional field. This field can be set to True only if the bank custom security questions option is set to True.
    UpdatePaymentConfig:
      type: object
      properties:
        expirationDays:
          maxLength: 3
          pattern: ^[\d]+$
          type: string
          description: Default payment expiration days which will be used if the buyer did not provide the payment expiration date either in the payment or has not configured for the supplier.  The payment expiration days will be used to calculate the payment expiration date (payment process date + the payment expiration days) which is the last day by which the supplier should collect the payment. Only numbers are allowed. This fiel can be updated at any time.
        billingCurrency:
          maxLength: 3
          pattern: ^[a-zA-Z]{3}$
          type: string
          description: Denotes the ISO alpha currency code associated with the billing Currency of the card accounts belonging to the buyer.  For example- USD for US Dollar. It should be one of the supported active currencies in VPA. VPA system uses the billing currency as the payment currency for adjustable limit card accounts. This field cannot be updated if sync Buyer Profiles field is set to true.
        allowableCurrencies:
          maxItems: 200
          uniqueItems: true
          type: array
          description: Contains the list of ISO alpha currency codes allowed for the buyer.  The buyer can process payments only in one of these currencies.  Payments made in any other currency will be rejected.  All ISO alpha currency codes will be supported. For example- USD for US Dollar. It should be one of the supported active currencies in VPA. Can setup up to a max of 200 currencies. Billing currency should be present in the list else the system will automatically add it to the list. Defaults to the billing currency if not provided. This field cannot be updated if the sync Buyer Profiles is set to true.
          items:
            maxLength: 3
            pattern: ^[a-zA-Z]{3}$
            type: string
        paymentAdviceOption:
          maxLength: 1
          type: string
          description: Denotes if the payment advice should be sent at the consolidated payment level (Consolidated) or for each payment (split). Valid values are 'C' for consolidated or 'S' for split. If consolidated option is chosen, all payments to the same supplier will be consolidated and sent in one payment advice notification.  This field can be updated at any time.
        expirationBufferDays:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: expirationBufferDays is the number of days after the payment expiration date by which the supplier needs to complete the collection of the payment (settlement of the card transaction should be completed). Only 2 digit integer numbers are allowed. Can be updated at any time.
        securityCodeRequired:
          type: boolean
          description: Denotes if security code is needed for the supplier to collect the payment.  Valid values are 'True' or 'False'. This field can be set to true only if the bank security code (CVV2) option is set to  'True'.  This field can be updated at any time.
    ProcessorConfigForUpdate:
      type: object
      properties:
        processorFields:
          type: object
          additionalProperties:
            type: object
            properties: {}
        closeAccountEnabled:
          type: boolean
          description: Default to Yes if processor integration is enabled for the bank. Default to N if Processor integration is not enabled for the bank. Default to Y if the buyer is enabled for VIP/VPP tokens.
      description: 'This section is used if the issuer has processor integration enabled.  When using processor PANs, the following processors can be enabled for processor integration: FIS, FDR, TS1, TS2, and TSUK.    When using Visa Pseudo accounts or TSYS VANs, processor integration is not required but if it is enabled the system goes to the processor to retrieve the latest values (such as expiry date, current balance and available balance for the funding accounts).  The fields vary for each processor so refer to the details <a href="/pages/B2B-virtual-account-payment-method-codes#buyer_setup_details"> Buyer Setup Details </a> page for more information on which fields are required for each processor. If using TSYS VPP VANs or Visa VIP Pseudo Accounts, defaults values can be used.  Please refer to the Buyer Setup Details page for the defaults'
    WebServicesConfigForGetV2-1:
      type: object
      properties:
        apiCodes:
          maxItems: 200
          uniqueItems: true
          type: array
          description: Denotes the codes associated with APIs which needs to be enabled for the buyer.  The APIs should be a subset of what is enabled for the bank.  The API codes and the corresponding APIs can be found below ....
          items:
            maxLength: 10
            type: string
        clientId:
          maxLength: 40
          type: string
          description: Denotes the client id associated with the bank under which the buyer is being created.  The Visa implementation team will be providing this.
        vbdsClientId:
          maxLength: 50
          type: string
          description: vbdsClientId is the unique id generated for third parties wanting to subscribe for auth/settlement data in VBDS system.
        webServicesEnabled:
          type: boolean
          description: Denotes if the web services is enabled for the Buyer. Valid Values are 'True' and 'False'.
        vbdsDataSubscription:
          type: array
          description: This complex element captures information about the subscription to Data APIs. This is optional and if this object is not provided, the subscription defaults to bank configuration for the given vbdsClientId.
          items:
            type: object
            properties:
              dataSubscriptionType:
                type: number
                description: 'This field is mandatory if vbdsDataSubcription object is provided. This field accepts the following subscription types. Provide the numeric code associated with the API(s) you want to subscribe to: 5001(Transaction Data API), 5003(Starter Data API), 5004(Authorization Data API (Pull)), 5005(Authorization Data API (Push))'
              dataSubscriptionAccountType:
                type: array
                description: This is optional. If no value is provided, all the account types enabled at the bank level for the client are subscribed to the APIs specified in dataSubscriptionType.  Subscribe/unsubscribe is allowed only for the account types enabled at the bank level for the provided client.
                items:
                  type: object
                  properties:
                    subscribed:
                      type: boolean
                      description: 'This field indicates if the accountType should be subscribed to the specified Data API(s).  E.g. if you want to subscribe the account type to the API provide ''true'' here.  To unsubscribe an account type to an API, provide ''false''. Valid Values are ''True'' and ''False''.The valid value must be provided for the account type.  '
                    accountType:
                      type: string
                      description: 'This field accepts following values. Please use the 4-character alpha code: VIPT:VIP/Pseudo Account-Pseudo Account generated by Visa, NVPA:Non virtual account-Physical cards, MEMO:Processor account-Virtual accounts generated at the Processor, FUNA:Funding Account-Parent Account for Visa Pseudo Accounts or TSYS VPP VAN tokens, VPPT:VPP Token-TSYS generated tokens (Also referred to as TSYS VPP VANs)'
        suppressSupplierNotification:
          type: boolean
          description: Denotes if all supplier notifications needs to be suppressed.  If this field is set to true, then the web service consumers should handle the supplier communication themselves. Valid Values are 'True' or 'False'.
    BuyerFeatureConfigForGetV2:
      type: object
      properties:
        cardMaskingDigits:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in all places other than UI like the recon file, response file, etc.
        vcfDataFeedIndicator:
          type: string
          description: 'The vcfDataFeedIndicator is used for indicating the source of transactions/settlement data for this company. This value should be “Yes” if the FI/Processor is going to send settled transactions for the company [e.g. inbound Visa Commercial Format (VCF)]. It should be “No” if the company requires Visa to pull the settlement data over the Visa Network.  '
        pseudoAccountsEnabled:
          type: boolean
          description: Denotes if "Pseudo Accounts" (VIP Tokens) option is enabled for the buyer.
        fullAccountViewEnabled:
          type: boolean
          description: Denotes if "Full Account View" functionality is enabled for the buyer.
        cardMaskingDigitsOnline:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in the UI.
        onlinePaymentInstructionEnabled:
          type: boolean
          description: Denotes if Online payment instruction (Pay Now) functionality is enabled for the buyer.
        onlinePaymentRequisitionEnabled:
          type: boolean
          description: Denotes if Online payment Requisition functionality is enabled for the buyer.
    GetPaymentFileCommConfig:
      type: object
      properties:
        edi824FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 824 outbound response file.
        edi997FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 997 outbound ack file.
        inboundFileId:
          maxLength: 40
          type: string
          description: Denotes the Comm file ID associated with the EDI 820 inbound payment file.
      description: PaymentFileCommConfig contains the comm file configuration for inbound EDI 820, and outbound EDI 997 and EDI 824.
    BuyerFeatureConfigForUpdate:
      type: object
      properties:
        cardMaskingDigits:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in all places other than UI like the recon file, response file, etc. Should be Numeric. Should be between 4 and 12.  This field can be updated at any time.
        pseudoAccountsEnabled:
          type: boolean
          description: Denotes if "Pseudo Accounts" (VIP Tokens) option is enabled for the buyer.  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option.  This field can be enabled (set to true) but can not be disabled (set to false).
        fullAccountViewEnabled:
          type: boolean
          description: Denotes if "Full Account View" functionality is enabled for the buyer.  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this functionality. This field can be updated at any time.
        cardMaskingDigitsOnline:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in the UI. Should be Numeric. Should be between 4 and 12.  This field can be updated at any time.
        onlinePaymentInstructionEnabled:
          type: boolean
          description: Denotes if Online payment instruction (Pay Now) functionality is enabled for the buyer. Valid Values are 'True' and 'False'.  The value can be set to true only if the bank is enabled for Online Payment Instructions.  This field can be updated at any time.
        onlinePaymentRequisitionEnabled:
          type: boolean
          description: Denotes if Online payment Requisition functionality is enabled for the buyer.  If the value for this field (the tag is not sent) is not provided, the system defaults it to False.   Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for Online Payment Requisitions. This field can be updated at any time.
    BillingConfigForUpdate:
      type: object
      properties:
        billingBID:
          type: string
          description: The 11 digit Visa Billing BID that will be billed for the service. This is in the format of 8 digit Visa BID plus 3 digit country code. E.g. 12345678840 where 840 is country code for United States.
        billingType:
          type: string
          description: Identifies who will be billed for use of the service.  I indicates issuer will be billed (standard). T indicates Third party / fintech will be billed. M indicates manual billing is set up.
    ResponseFileConfigForUpdate-1:
      type: object
      properties:
        fileLevel:
          maxLength: 1
          type: string
          description: Denotes if the response COMM File configuration is defined to be delivered to the bank(B) or Company (C).  Valid values are B and C.  This can be updated at any time.
        commFileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the Response file outbound. The COMM file definition should exist in the system.  The Visa implementation team provides this value after the outbound response file configuration has been completed.  This can be updated at any time.
        fileFormat:
          type: integer
          description: Denotes the format in which the response file needs to be generated. Needs to be numeric. Valid values are 1 – XLS V0, 2 – CSV V0, 3 -  XLS V1, 4 – CSV V1.  This field can be updated at any time.
        recipientLoginIds:
          maxItems: 80
          uniqueItems: true
          type: array
          description: Contains the list of user ids of bank/buyer users who will be receiving the response file in their VOL mailbox.  You can setup upto 80 user ids to receive the response file. The user ids should have the VOL mailbox service entitled to them.  This can be updated at any time.
          items:
            type: string
    UpdateBuyerSuccessResponse:
      type: object
      properties:
        responseStatus:
          $ref: '#/components/schemas/Response'
      description: Response for a successful update of a Buyer
    PaymentFileCommConfigForUpdate:
      type: object
      properties:
        edi824FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 824 outbound response file.  The COMM file definition should exist in the system.  The Visa implementation team provides this value after the outbound edi 824 file configuration has been completed. This field can be updated at anytime.
        edi997FileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the EDI 997 outbound ack file. The COMM file definition should exist in the system.  The Visa implementation team provides this value after the the outbound edi 997 file configuration has been completed. This field can be updated at anytime.
        inboundFileId:
          maxLength: 40
          type: string
          description: Denotes the Comm file ID associated with the inbound payment file (EDI 820 or SFF). The COMM file definition should exist in the system.  The Visa implementation team provides this value after the inbound file configuration has been completed.  This field can be updated at anytime
    UpdateReconciliationFileConfig:
      type: object
      properties:
        adhocReconciliationReportEnabled:
          type: boolean
          description: Denotes if Adhoc Reconciliation functionality is enabled for the template (buyers).  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for Adhoc Reconciliation.  This field Can be edited at any time.
        onlinePaymentReconciliationEnabled:
          type: boolean
          description: Denotes if Online payment Reconciliation functionality is enabled for the template (buyers). Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for Online Payment Reconciliation.  This field Can be edited at any time.
    UpdateBuyerFeatureConfig:
      type: object
      properties:
        cardMaskingDigits:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in all places other than UI like the recon file, response file, etc. Should be Numeric. Should be between 4 and 12. This field can be edited at any time.
        vcfDataFeedIndicator:
          type: string
          description: The vcfDataFeedIndicator is used for indicating the source of transactions/settlement data for this company. This value should be “Yes” if the FI/Processor is going to send settled transactions for the company [e.g. inbound Visa Commercial Format (VCF)]. It should be “No” if the company requires Visa to pull the settlement data over the Visa Network.hello
        pseudoAccountsEnabled:
          type: boolean
          description: Denotes if "Pseudo Accounts" (VIP Tokens) option is enabled for the template (buyers).  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option. This field can be edited only if the sync Buyer Profiles is set to false.
        fullAccountViewEnabled:
          type: boolean
          description: Denotes if "Full Account View" functionality is enabled for the template (buyers). Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this functionality.  This field can be edited at any time.
        cardMaskingDigitsOnline:
          maxLength: 2
          pattern: ^[\d]+$
          type: string
          description: Denotes the number of digits that will be masked for the card number when displayed in the UI. Should be Numeric. Should be between 4 and 12.  This field can be edited at any time.
        onlinePaymentInstructionEnabled:
          type: boolean
          description: Denotes if Online payment instruction (Pay Now) functionality is enabled for the template (buyers).  Valid Values are 'True' and 'False'.  The value can be set to true only if the bank is enabled for Online Payment Instructions. This field can be edited at any time.
        onlinePaymentRequisitionEnabled:
          type: boolean
          description: Denotes if Online payment Requisition functionality is enabled for the template (buyers).  Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for Online Payment Requisitions. This field can be edited at any time.
    ReconciliationFileConfig:
      type: object
      properties:
        commFileId:
          maxLength: 40
          type: string
          description: Comm file Id refers to Comm File info associated with the recon file outbound delivery.Required if ReconFileDelivery is set to Comms.
        templateName:
          maxLength: 100
          type: string
          description: Denotes the name of the custom Reconciliation template to be used for generating the reconciliation file for all buyers using the template.
        adhocReconciliationReportEnabled:
          type: boolean
          description: Denotes if Adhoc Reconciliation functionality is enabled for the template (buyers).  Valid Values are 'True' and 'False'. If the value for this field (the tag is not sent) is not provided, the system defaults it to False.   The value can be set to true only if the bank is enabled for Adhoc Reconciliation.
        onlinePaymentReconciliationEnabled:
          type: boolean
          description: Denotes if Online payment Reconciliation functionality is enabled for the template (buyers).  Valid Values are 'True' and 'False'. If the value for this field (the tag is not sent) is not provided, the system defaults it to False.   The value can be set to true only if the bank is enabled for Online Payment Reconciliation.
    StripePaymentConfig:
      type: object
      properties:
        stripePaymentEnabled:
          type: boolean
          description: Denotes if Stripe payments is enabled for the template (buyer).  Valid values are 'True' or 'False'. Optional field. If the value for this field (the tag is not sent) is not provided, the system defaults it to 'False'.  This field can be set to true only if the bank Stripe Payment option is set to  'True'.
        remittanceNotificationEnabled:
          type: boolean
          description: Denotes if the Stripe Payment Remittance notification is enabled for a template (buyer).  Valid values are 'True' or 'False'. Optional field. If the value for this field (the tag is not sent) is not provided, the system defaults it to 'False'.  This field can be set to true only if the bank Stripe Payment Remittance Notification option is set to 'True'. Only if this field is enabled, the Stripe supplier will be getting the payment remittance notification.
    StpPaymentConfigForUpdate:
      type: object
      properties:
        stpPaymentEnabled:
          type: boolean
          description: Denotes if STP payments is enabled for the buyer.  Valid values are 'True' or 'False'. This field can be set to true only if the bank STP Payment option is set to  'True'.  You can enable STP payments for a buyer at any time.  But you cannot disable it (update it to false) if there are STP suppliers present for the buyer.
        accountHolderLastName:
          maxLength: 100
          type: string
          description: Denotes the Account Holder's last Name which will be used while processing the STP payment. This field can be edited at any time.
        accountHolderFirstName:
          maxLength: 100
          type: string
          description: Denotes the Account Holder's first Name which will be used while processing the STP payment. This field can be edited at any time.
        remittanceNotificationEnabled:
          type: boolean
          description: Denotes if the STP Payment Remittance notification is enabled for a buyer.  Optional field. Valid values are 'True' or 'False'. This field can be set to true only if the bank STP Payment Remittance Notification option is set to 'True'. The STP supplier will be getting the payment remittance notification only if this field is enabled. This field can be edited at any time.
    ProcessorConfigForCreate:
      type: object
      properties:
        processorFields:
          type: object
          additionalProperties:
            type: object
            properties: {}
        closeAccountEnabled:
          type: boolean
          description: Default to Yes if processor integration is enabled for the bank. Default to N if Processor integration is not enabled for the bank. Default to Y if the buyer is enabled for VIP/VPP tokens.
      description: 'This section is used if the issuer has processor integration enabled.  When using processor PANs, the following processors can be enabled for processor integration: FIS, FDR, TS1, TS2, and TSUK.    When using Visa Pseudo accounts or TSYS VANs, processor integration is not required but if it is enabled the system goes to the processor to retrieve the latest values (such as expiry date, current balance and available balance for the funding accounts).  The fields vary for each processor so refer to the details <a href="/pages/B2B-virtual-account-payment-method-codes#buyer_setup_details"> Buyer Setup Details </a> page for more information on which fields are required for each processor. If using TSYS VPP VANs or Visa VIP Pseudo Accounts, defaults values can be used.  Please refer to the Buyer Setup Details page for the defaults'
    ApprovalWorkflowConfigForCreate:
      type: object
      properties:
        workflowConfigEnabled:
          type: boolean
          description: Denotes if the Approval Workflow is enabled for the Buyer.  If the value for this field (the tag is not sent) is not provided, the system defaults it false.   Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option.
        workflowFunctionCodes:
          uniqueItems: true
          type: array
          description: Denotes the codes for the functionalities for which Approval Workflow needs to be enabled. Valid Values are AUCL - Card Limit Update, LCRC - Lodge/New Card, PYIN - Payment Instruction, PYRN - Payment Requisition At least one function should be passed in this field if workflowconfigenabled field is set to true for the buyer.
          items:
            pattern: ^[a-zA-Z]{4}$
            type: string
            enum:
            - AUCL
            - LCRC
            - PYIN
            - PYRN
    GetBuyerTemplateRequest:
      required:
      - clientId
      - messageId
      - templateId
      type: object
      properties:
        clientId:
          maxLength: 25
          type: string
          description: ClientID associated with the bank. This will be provided by Visa at the time of setup.
        messageId:
          maxLength: 36
          type: string
          description: Unique Identifier to identify the request.
        templateId:
          maxLength: 30
          type: string
          description: Template ID is a unique identifier for a Template. It is system generated and will provided in the response of the CreateTEmplate API.
      description: Get Buyer Template Request
    BillingConfig:
      type: object
      properties:
        billingBID:
          type: string
          description: The 11 digit Visa Billing BID that will be billed for the service. This is in the format of 8 digit Visa BID plus 3 digit country code. E.g. 12345678840 where 840 is country code for United States.
        billingType:
          type: string
          description: Identifies who will be billed for use of the service.  I indicates issuer will be billed (standard). T indicates Third party / fintech will be billed. M indicates manual billing is set up.
    GetBoostPaymentConfig:
      type: object
      properties:
        boostPaymentEnabled:
          type: boolean
          description: Denotes if the Boost Payments is enabled for a template (buyer).
    ResponseFileConfigForGet:
      type: object
      properties:
        fileLevel:
          maxLength: 1
          type: string
          description: Denotes if the response COMM File configuration is defined to be delivered to the bank(B) or Company (C).
        commFileId:
          maxLength: 40
          type: string
          description: Denotes the Comm File ID associated with the Response file outbound. The Visa implementation team provides this value after the outbound response file configuration has been completed.
        fileFormat:
          type: integer
          description: Denotes the format in which the response file needs to be generated. Valid values are 1 – XLS V0, 2 – CSV V0, 3 -  XLS V1, 4 – CSV V1
        recipientLoginIds:
          maxItems: 50
          uniqueItems: true
          type: array
          description: Contains the list of user ids of bank/buyer users who will be receiving the response file in their VOL mailbox.
          items:
            type: string
    RvaReconciliationFileConfigForGet-1:
      type: object
      properties:
        fileLevel:
          maxLength: 1
          type: string
          description: Denotes if the RVA recon COMM File configuration is defined to be delivered to the bank(B) or Company (C).  Valid values are B - Bank and C - Company.
        commFileId:
          type: string
          description: Denotes the Comm File ID associated with the RVA recon file outbound.  The COMM file definition should exist in the system.  The Visa implementation team provides this value after the outbound RVA recon file configuration has been completed.
        fileFormat:
          type: integer
          description: Denotes the format in which the RVA recon file needs to be generated. Valid values are 1 – XLS V0, 2 – CSV V0, 3 -  XLS V1, 4 – CSV V1
        templateId:
          maxLength: 5
          type: string
          description: Denotes the id of the recon template to be used for generating the RVA reconciliation file. Valid values are 1 - RVA Recon standard template Version 1.0
        deliveryTime:
          maxLength: 6
          type: string
          description: Denotes the delivery type or day when the RVA recon file needs to be generated and delivered.  Valid format for the time for the daily frequency is 'HH:MM' in 24 hours format.  Valid values for the Weekly frequency  1 to 7 denoting the days.  1 being Sunday and 7 being Saturday and Monthly Frequency 1 to 31
        deliveryFrequency:
          type: integer
          description: Denotes the frequency in which the RVA recon file needs to be delivered.  Valid values are 1 – Daily 2 – Weekly 3 - Monthly
        recipientLoginIds:
          maxItems: 80
          uniqueItems: true
          type: array
          description: Contains the list of user ids of bank/buyer users who will be receiving the RVA recon file in their VOL mailbox.
          items:
            type: string
    GetBillingConfig:
      type: object
      properties:
        billingBID:
          type: string
          description: The 11 digit Visa Billing BID that will be billed for the service. This is in the format of 8 digit Visa BID plus 3 digit country code. E.g. 12345678840 where 840 is country code for United States.
        billingType:
          type: string
          description: Identifies who will be billed for use of the service.  I indicates issuer will be billed (standard). T indicates Third party / fintech will be billed. M indicates manual billing is set up.
    PaymentSecurityConfigForGet:
      type: object
      properties:
        customSecurityQuestions:
          maxItems: 3
          uniqueItems: true
          type: array
          description: The questions (text) which will be used at random (Only one of the questions will be displayed) to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details. The system sends the security questions and answers to the supplier when the supplier is setup for the buyer.
          items:
            maxLength: 100
            type: string
        defaultSecurityQuestion:
          maxLength: 256
          type: string
          description: Denotes the text for the default security question which will be displayed to the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.
        defaultSecurityFieldCode:
          maxLength: 1
          type: string
          description: Denotes the field system uses to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details. Valid values are '1' - Postal code and '2' - Supplier ID. I The default security is used only when the system creates new suppliers while processing payment files (EDI 820) or if custom security question is not enabled.
        customSecurityQuestionsEnabled:
          type: boolean
          description: Denotes if the buyer wants to use custom security questions to authenticate the supplier when they click on the URL sent in the payment advice notification for viewing the full card details.  .
    ApprovalWorkflowConfigForGet:
      type: object
      properties:
        workflowConfigEnabled:
          type: boolean
          description: Denotes if the Approval Workflow is enabled for the Buyer.
        workflowFunctionCodes:
          uniqueItems: true
          type: array
          description: Denotes the codes for the functionalities for which Approval Workflow needs to be enabled. Valid Values are AUCL - Card Limit Update, LCRC - Lodge/New Card, PYIN - Payment Instruction, PYRN - Payment Requisition
          items:
            pattern: ^[a-zA-Z]{4}$
            type: string
            enum:
            - AUCL
            - LCRC
            - PYIN
            - PYRN
    WebServicesConfigForCreate-2:
      type: object
      properties:
        apiCodes:
          maxItems: 200
          uniqueItems: true
          type: array
          description: Reserved for Future use. The system will default the apiCodes to what is set for the bank.
          items:
            maxLength: 10
            type: string
        clientId:
          maxLength: 40
          type: string
          description: Reserved for Future use. The system will default the client ID to what is set for the bank.
        vbdsClientId:
          maxLength: 50
          type: string
          description: vbdsClientId is the unique id generated for third parties wanting to subscribe for auth/settlement data in VBDS system. Should be numeric.
        webServicesEnabled:
          type: boolean
          description: Denotes if the web services is enabled for the Buyer.  If the value for this field (the tag is not sent) is not provided, the system defaults it false.   Valid Values are 'True' and 'False'. The value can be set to true only if the bank is enabled for this Option.
        vbdsDataSubscription:
          type: array
          description: This complex element captures information about the subscription to Data APIs. This is optional and if this object is not provided, the subscription defaults to bank configuration for the given vbdsClientId.
          items:
            type: object
            properties:
              dataSubscriptionType:
                type: number
[...]
