openapi: 3.0.1
info:
  title: Payment Account Attributes Inquiry
  description: ''
  version: '1'
servers:
  - url: https://sandbox.api.visa.com
    description: Sandbox server
security: []
tags:
  - name: Funds Transfer Attributes Inquiry API
    description: >-
      The Funds Transfer Attributes Inquiry API is often used with a funds
      transfer to/from a Visa payment account to determine key characteristics
      of a recipient card before initiating the transfer like country,
      card-type, block status, etc.
paths:
  /paai/fundstransferattinq/v5/cardattributes/fundstransferinquiry:
    post:
      tags:
        - Funds Transfer Attributes Inquiry API
      summary: Funds Transfer Inquiry
      description: >-
        Retrieve the attributes, which determine the key characteristics of a
        recipient payment account before initiating a funds transfer, by
        providing the Primary Account Number (PAN) or Token for both Visa and
        Non-Visa cards
      operationId: Funds Transfer Inquiry
      requestBody:
        description: Request body for Funds Transfer Inquiry
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundsTransferInquiryRequest'
            examples:
              FTAI Visa Card:
                summary: FTAI Visa Card
                value:
                  systemsTraceAuditNumber: '451018'
                  primaryAccountNumber: '4060320000000127'
                  retrievalReferenceNumber: '412770452025'
              FTAI Non-Visa Card:
                summary: FTAI Non-Visa Card
                value:
                  systemsTraceAuditNumber: '400171'
                  primaryAccountNumber: '5123280115058611'
                  retrievalReferenceNumber: '330000550000'
              FTAI Invalid PAN:
                summary: FTAI Invalid PAN
                value:
                  systemsTraceAuditNumber: '400171'
                  primaryAccountNumber: '1111111111111111'
                  retrievalReferenceNumber: '330000550000'
        required: true
      responses:
        '200':
          description: Funds Transfer Inquiry Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsTransferInquiryResponse'
              examples:
                FTAI Visa Card:
                  summary: FTAI Visa Card
                  value:
                    ppgsNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                    visaNetworkInfo:
                      - nonMoneyTransferFastFundsDomestic: string
                        moneyTransferPushFundsDomestic: string
                        nonMoneyTransferPushFundsDomestic: string
                        nonMoneyTransferPushFundsCrossBorder: string
                        issuerName: string
                        moneyTransferFastFundsDomestic: string
                        issuerCountryCode: 0
                        comboCardRange: string
                        billingCurrencyCodeMinorDigits: string
                        onlineGamblingFastFundsDomestic: string
                        onlineGamblingPushFundsDomestic: string
                        onlineGamblingFastFundsCrossBorder: string
                        billingCurrency: 0
                        moneyTransferFastFundsCrossBorder: string
                        cardPlatformCode: string
                        cardSubTypeCode: string
                        cardProductType: string
                        onlineGamblingPushFundsCrossBorder: string
                        moneyTransferPushFundsCrossBorder: string
                        nonMoneyTransferFastFundsCrossBorder: string
                FTAI Non-Visa Card:
                  summary: FTAI Non-Visa Card
                  value:
                    ppgsNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                    visaNetworkInfo:
                      - nonMoneyTransferFastFundsDomestic: string
                        moneyTransferPushFundsDomestic: string
                        nonMoneyTransferPushFundsDomestic: string
                        nonMoneyTransferPushFundsCrossBorder: string
                        issuerName: string
                        moneyTransferFastFundsDomestic: string
                        issuerCountryCode: 0
                        comboCardRange: string
                        billingCurrencyCodeMinorDigits: string
                        onlineGamblingFastFundsDomestic: string
                        onlineGamblingPushFundsDomestic: string
                        onlineGamblingFastFundsCrossBorder: string
                        billingCurrency: 0
                        moneyTransferFastFundsCrossBorder: string
                        cardPlatformCode: string
                        cardSubTypeCode: string
                        cardProductType: string
                        onlineGamblingPushFundsCrossBorder: string
                        moneyTransferPushFundsCrossBorder: string
                        nonMoneyTransferFastFundsCrossBorder: string
        '400':
          description: Invalid request parameter
          content:
            application/json:
              example:
                errorResponse:
                  reason: invalidParameter
                  message: >-
                    Unable to find any participating network information for the
                    provided account.
      x-name: Funds Transfer Inquiry
      x-notes: ''
      x-codegen-request-body-name: fundsTransferInquiryPayload
      x-samplePayload-invalidcard:
        primaryAccountNumber: '1111111111111111'
        systemsTraceAuditNumber: '400171'
        retrievalReferenceNumber: '330000550000'
      x-samplePayload-visacard:
        primaryAccountNumber: '4060320000000127'
        systemsTraceAuditNumber: '451018'
        retrievalReferenceNumber: '412770452025'
      x-samplePayload-nonvisacard:
        primaryAccountNumber: '5123280115058611'
        systemsTraceAuditNumber: '400171'
        retrievalReferenceNumber: '330000550000'
      x-operationVersions:
        - label: v1
          operationPointer: >-
            #/paths/~1paai~1fundstransferattinq~1v1~1cardattributes~1fundstransferinquiry/post
          default: false
        - label: v2
          operationPointer: >-
            #/paths/~1paai~1fundstransferattinq~1v2~1cardattributes~1fundstransferinquiry/post
          default: false
        - label: v5 - Latest
          operationPointer: >-
            #/paths/~1paai~1fundstransferattinq~1v5~1cardattributes~1fundstransferinquiry/post
          default: false
  /paai/fundstransferattinq/v2/cardattributes/fundstransferinquiry:
    post:
      tags:
        - Funds Transfer Attributes Inquiry API
      summary: Funds Transfer Inquiry
      description: >-
        Retrieve the attributes, which determine the key characteristics of a
        recipient payment account before initiating a funds transfer, by
        providing the Primary Account Number (PAN)
      operationId: Funds Transfer Inquiry
      requestBody:
        description: Request body for Funds Transfer Inquiry
        content:
          application/json:
            schema:
              required:
                - primaryAccountNumber
                - retrievalReferenceNumber
                - systemsTraceAuditNumber
              type: object
              properties:
                acquiringBin:
                  type: integer
                  description: >-
                    The Bank Identification Number (BIN) under which your Funds
                    Transfer application is registered. This must match the
                    information provided during enrollment.
                sharingGroupCode:
                  maxLength: 30
                  minLength: 1
                  type: string
                  description: >-
                    This field is optionally used by Push Payments Gateway
                    participants (merchants and acquirers) to get the attributes
                    for specified networks only. The networks specified in this
                    field must be a subset of the information provided during
                    program enrollment. Refer to &lt;a
                    href="/request_response_codes#network_id_and_sharing_group_code"&gt;
                    Sharing Group Code&lt;/a&gt; &lt;br&gt; Note:&lt;br&gt;
                    Supported only in US for domestic transactions involving
                    Push Payments Gateway Service.
                acquirerCountryCode:
                  maxLength: 3
                  minLength: 3
                  type: string
                  description: >-
                    If acquiringBin is provided, it is highly recommended that
                    acquirerCountryCode is also provided.&lt;/br&gt;Use a
                    3-digit numeric country code for the country where the Funds
                    Transfer solution is registered. This must match the
                    information provided during program enrollment.
                primaryAccountNumber:
                  maxLength: 19
                  minLength: 13
                  type: string
                  description: >-
                    The primary account number for which account attributes are
                    being requested
                systemsTraceAuditNumber:
                  maxLength: 6
                  minLength: 6
                  type: string
                  description: >-
                    A unique value should be used for each API method where this
                    is required. If this is used for funds transfer, please
                    refer to &lt;a
                    href="/capabilities/visa_direct/reference#visa_direct__funds_transfer__v1__pullfunds"
                    &gt; PullFundsTransactions POST &lt;/a&gt;Funds Transfer API
                    for more details.
                retrievalReferenceNumber:
                  maxLength: 12
                  minLength: 12
                  type: string
                  description: >-
                    A value used to tie together service calls related to a
                    single financial transaction.&lt;br&gt;Recommended Format:
                    ydddhhnnnnnn&lt;br&gt;The first fours digits must be a valid
                    yddd date in the Julian date format, where the first digit =
                    0-9 (last digit of current year) and the next three digits =
                    001-366 (number of the day in the year).&lt;br&gt;hh can be
                    the two digit hour in a 24 hour clock (00-23) during which
                    the transaction is performed.&lt;br&gt; nnnnnn can be the
                    SystemsTraceAuditNumber or any 6 digit number.
                showComboCardRangeIndicator:
                  maxLength: 1
                  minLength: 1
                  type: string
                  description: >-
                    Indicator when set to &ldquo;Y&rdquo; allows merchants,
                    acquirers, and service providers to query the status of the
                    combo BIN provided in the response as a value in the
                    comboCardRange field.&lt;br&gt;Note:&lt;br&gt;Combo BINs are
                    a feature of some countries such as Brazil and not available
                    globally.
            examples:
              FTAI Visa Card:
                summary: FTAI Visa Card
                value:
                  systemsTraceAuditNumber: '451018'
                  primaryAccountNumber: '4060320000000127'
                  retrievalReferenceNumber: '412770452025'
              FTAI Non-Visa Card:
                summary: FTAI Non-Visa Card
                value:
                  systemsTraceAuditNumber: '400171'
                  primaryAccountNumber: '5123280115058611'
                  retrievalReferenceNumber: '330000550000'
        required: true
      responses:
        '200':
          description: Funds Transfer Inquiry Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ppgsNetworkInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        networkId:
                          type: integer
                          description: >-
                            This contains a code that identifies the
                            network.&lt;br&gt; Refer to &lt;a
                            href="/guides/request_response_codes#network_id_and_sharing_group_code"&gt;Network
                            ID.&lt;/a&gt;
                        aftXbParticipant:
                          type: string
                          description: >-
                            Pull Funds(AFT) Cross Border Indicator. &lt;br&gt;
                            &lt;b&gt; Note:&lt;/b&gt;  &lt;br&gt; Supported only
                            in US for domestic transactions involving Push
                            Payments Gateway Service.
                        octXbParticipant:
                          type: string
                          description: >-
                            Push Funds(OCT) Cross Border Indicator. &lt;br&gt;
                            &lt;b&gt; Note:&lt;/b&gt;  &lt;br&gt; Supported only
                            in US for domestic transactions involving Push
                            Payments Gateway Service. 
                        aftDomParticipant:
                          type: string
                          description: >-
                            Pull Funds(AFT) Domestic Indicator. &lt;br&gt;
                            &lt;b&gt; Note:&lt;/b&gt;  &lt;br&gt; Supported only
                            in US for domestic transactions involving Push
                            Payments Gateway Service.
                        octDomParticipant:
                          type: string
                          description: >-
                            Push Funds(OCT) Domestic Indicator. &lt;br&gt;
                            &lt;b&gt; Note:&lt;/b&gt;  &lt;br&gt; Supported only
                            in US for domestic transactions involving Push
                            Payments Gateway Service.
                        billingCurrencyCode:
                          type: integer
                          description: >-
                            Use a 3-digit numeric currency code for the card
                            billing currency of the
                            primaryAccountNumber.&lt;br&gt; Refer to &lt;a
                            href="/request_response_codes#currency_codes"&gt;ISO
                            Codes.&lt;/a&gt;&lt;br&gt;&lt;b&gt; Note:&lt;/b&gt; 
                            &lt;br&gt; Supported only in US for domestic
                            transactions involving Push Payments Gateway
                            Service.
                        cardIssuerCountryCode:
                          type: integer
                          description: >-
                            Refer to &lt;a
                            href="/request_response_codes#iso_country_codes"&gt;ISO
                            Codes.&lt;/a&gt;&lt;/br&gt; &lt;br&gt; &lt;b&gt;
                            Note:&lt;/b&gt;  &lt;br&gt; Supported only in US for
                            domestic transactions involving Push Payments
                            Gateway Service.
                        billingCurrencyMinorDigits:
                          type: integer
                          description: >-
                            Identifies the number of decimal positions that
                            should be present in any amounts for the requested
                            card&apos;s billing currency.&lt;br&gt; &lt;b&gt;
                            Note:&lt;/b&gt; &lt;br&gt; Supported only in US for
                            domestic transactions involving Push Payments
                            Gateway Service.
                  visaNetworkInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        issuerName:
                          maxLength: 240
                          type: string
                          description: Issuer name
                        cardTypeCode:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            The code of account funding source for the card,
                            e.g. Credit, Debit, Prepaid, Charge, Deferred
                            Debit.<br>Refer to <a
                            href="/request_response_codes#cardTypeCode">cardTypeCode</a>
                        comboCardRange:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            Indicates the type of Combo card.&lt;br&gt;0 -  Not
                            a Combo card.&lt;br&gt;1 -  Combo card is Credit and
                            Prepaid.&lt;br&gt;2 -  Combo card is Credit and
                            Debit.
                        geoRestrictionInd:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            This field will determine if the recipient issuer
                            can accept transactions from the Originator country.
                            If the value is &ldquo;Y&rdquo;, transactions cannot
                            be accepted from the sender country. If the value is
                            &ldquo;N&rdquo;, transactions are allowed.
                        fastFundsIndicator:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            Indicates the funds delivery speed of the PAN
                            submitted in the request. If the value is
                            &apos;B&apos;, &apos;C&apos;, or &apos;D&apos;,
                            funds will be available to the recipient within 30
                            minutes of successful transfer. If the value is
                            &apos;N&apos;, the funds will be available within 2
                            business days of successful transfer.&lt;br&gt;Refer
                            to &lt;a
                            href="/request_response_codes#fast_funds_indicator"&gt;fastFundsIndicator&lt;/a&gt;
                        billingCurrencyCode:
                          type: integer
                          description: >-
                            Use a 3-digit numeric currency code for the card
                            billing currency of the PAN.<br>Refer to <a
                            href="/request_response_codes#currency_codes">ISO
                            Codes</a>
                        cardIssuerCountryCode:
                          maxLength: 3
                          minLength: 3
                          type: string
                          description: >-
                            Refer to &lt;a
                            href="/request_response_codes#iso_country_codes"&gt;ISO
                            Codes&lt;/a&gt;
                        pushFundsBlockIndicator:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            Indicates whether the PAN submitted in the request
                            can receive Push Funds(OCTs).&lt;br&gt;Refer to
                            &lt;a
                            href="/request_response_codes#push_funds_indicator"&gt;pushFundsBlockIndicator&lt;/a&gt;
                        billingCurrencyMinorDigits:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            Identifies the number of decimal positions that
                            should be present in any amounts for the requested
                            card&apos;s billing currency.
                        onlineGambingBlockIndicator:
                          maxLength: 1
                          minLength: 1
                          type: string
                          description: >-
                            Indicates whether the PAN submitted in the request
                            can receive Push Funds(OCTs) for gambling-type
                            transactions. If the value is "Y", then the account
                            cannot receive gambling Push Funds (OCTs). If the
                            value is "N", the account can receive gambling Push
                            Funds (OCTs).
              examples:
                FTAI Visa Card:
                  summary: FTAI Visa Card
                  value:
                    ppgsNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                    visaNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        onlineGambingBlockIndicator: string
                        pushFundsBlockIndicator: string
                        issuerName: string
                        cardTypeCode: string
                        fastFundsIndicator: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                FTAI Non-Visa Card:
                  summary: FTAI Non-Visa Card
                  value:
                    ppgsNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                      - billingCurrencyMinorDigits: 0
                        octDomParticipant: string
                        octXbParticipant: string
                        aftXbParticipant: string
                        networkId: 0
                        aftDomParticipant: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
                    visaNetworkInfo:
                      - billingCurrencyMinorDigits: 0
                        onlineGambingBlockIndicator: string
                        pushFundsBlockIndicator: string
                        issuerName: string
                        cardTypeCode: string
                        fastFundsIndicator: string
                        cardIssuerCountryCode: 0
                        billingCurrencyCode: 0
      x-codegen-request-body-name: fundsTransferInquiryPayload
  /paai/fundstransferattinq/v1/cardattributes/fundstransferinquiry:
    post:
      tags:
        - Funds Transfer Attributes Inquiry API
      summary: Funds Transfer Inquiry
      description: >-
        Retrieve the attributes, which determine the key characteristics of a
        recipient payment account before   initiating a funds transfer, by
        providing the Primary Account Number (PAN)
      operationId: fundsTransferInquiry
      requestBody:
        description: Request body for Funds Transfer Inquiry
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundsTransferInquiryRequest-1'
            examples:
              FTAI Visa Card:
                summary: FTAI Visa Card
                value:
                  systemsTraceAuditNumber: '451018'
                  primaryAccountNumber: '4060320000000127'
                  retrievalReferenceNumber: '412770452025'
              FTAI Non-Visa Card:
                summary: FTAI Non-Visa Card
                value:
                  systemsTraceAuditNumber: '400171'
                  primaryAccountNumber: '5123280115058611'
                  retrievalReferenceNumber: '330000550000'
          application/xml:
            schema:
              $ref: '#/components/schemas/FundsTransferInquiryRequest-1'
            examples:
              FTAI Visa Card:
                summary: FTAI Visa Card
                value: >-
                  <?xml version="1.0" encoding="UTF-8"?>

                  <acnl:AcnlV2V2Request
                  xmlns:acnl="http://www.visa.com/vpp/api/acnl"
                  xmlns:dd="http://www.visa.com/vpp/api/dd">
                      <systemsTraceAuditNumber xmlns="">451018</systemsTraceAuditNumber>
                      <retrievalReferenceNumber xmlns="">412770452025</retrievalReferenceNumber>
                      <primaryAccountNumber xmlns="">4060320000000127</primaryAccountNumber>
                  </acnl:AcnlV2V2Request>
              "FTAI Non-Visa Card\t":
                summary: "FTAI Non-Visa Card\t"
                value: >
                  <?xml version="1.0" encoding="UTF-8"?>

                  <acnl:AcnlV2V2Request
                  xmlns:acnl="http://www.visa.com/vpp/api/acnl"
                  xmlns:dd="http://www.visa.com/vpp/api/dd">
                      <systemsTraceAuditNumber xmlns="">400171</systemsTraceAuditNumber>
                      <retrievalReferenceNumber xmlns="">330000550000</retrievalReferenceNumber>
                      <primaryAccountNumber xmlns="">5123280115058611</primaryAccountNumber>
                  </acnl:AcnlV2V2Request>
        required: true
      responses:
        '200':
          description: Funds Transfer Inquiry Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsTransferInquiryResponse-1'
              examples:
                FTAI Visa Card:
                  summary: FTAI Visa Card
                  value:
                    billingCurrencyMinorDigits: 0
                    onlineGambingBlockIndicator: string
                    pushFundsBlockIndicator: string
                    issuerName: string
                    cardTypeCode: string
                    fastFundsIndicator: string
                    cardIssuerCountryCode: string
                    billingCurrencyCode: 0
                    geoRestrictionInd: string
                FTAI Non-Visa Card:
                  summary: FTAI Non-Visa Card
                  value:
                    octDomParticipant: string
                    currencyCodeDestination: string
                    octXbParticipant: string
                    countryCodeIssuingInstitution: string
                    numberOfMinorUnitsUsed: 0
                    aftXbParticipant: string
                    aftDomParticipant: string
            application/xml:
              schema:
                $ref: '#/components/schemas/FundsTransferInquiryResponse-1'
              examples:
                FTAI Visa Card:
                  summary: FTAI Visa Card
                  value: >-
                    <?xml version='1.0' encoding='UTF-8'?>

                    <ns2:AcnlV2V2Response
                    xmlns:ns2="http://www.visa.com/vpp/api/acnl">
                        <cardTypeCode>string</cardTypeCode>
                        <billingCurrencyCode>0</billingCurrencyCode>
                        <billingCurrencyMinorDigits>0</billingCurrencyMinorDigits>
                        <issuerName>string</issuerName>
                        <cardIssuerCountryCode>string</cardIssuerCountryCode>
                        <fastFundsIndicator>string</fastFundsIndicator>
                        <pushFundsBlockIndicator>string</pushFundsBlockIndicator>
                        <onlineGambingBlockIndicator>string</onlineGambingBlockIndicator>
                    </ns2:AcnlV2V2Response>
                "FTAI Non-Visa Card\t":
                  summary: "FTAI Non-Visa Card\t"
                  value: >-
                    <?xml version='1.0' encoding='UTF-8'?>

                    <ns2:AcnlV2V2Response
                    xmlns:ns2="http://www.visa.com/vpp/api/acnl">
                        <currencyCodeDestination>0</currencyCodeDestination>
                        <numberOfMinorUnitsUsed>0</numberOfMinorUnitsUsed>
                        <countryCodeIssuingInstitution>string</countryCodeIssuingInstitution>
                        <octDomParticipant>string</octDomParticipant>
                        <octXbParticipant>string</octXbParticipant>
                        <aftDomParticipant>string</aftDomParticipant>
                        <aftXbParticipant>string</aftXbParticipant>
                    </ns2:AcnlV2V2Response>
      x-samplePayload:
        primaryAccountNumber: '4957030420210512'
        systemsTraceAuditNumber: '451006'
        retrievalReferenceNumber: '330000550000'
      x-name: Funds Transfer Inquiry
      x-notes: ''
      x-codegen-request-body-name: fundsTransferInquiryPayload
      x-samplePayloadXML: >-
        <?xml version="1.0" encoding="UTF-8"?>

        <acnl:AcnlV2V2Request xmlns:acnl="http://www.visa.com/vpp/api/acnl"
        xmlns:dd="http://www.visa.com/vpp/api/dd"><systemsTraceAuditNumber
        xmlns="">451006</systemsTraceAuditNumber><retrievalReferenceNumber
        xmlns="">330000550000</retrievalReferenceNumber><primaryAccountNumber
        xmlns="">4957030420210512</primaryAccountNumber></acnl:AcnlV2V2Request>
components:
  schemas:
    FundsTransferInquiryResponse:
      required:
        - ppgsNetworkInfo
        - visaNetworkInfo
      type: object
      properties:
        ppgsNetworkInfo:
          type: array
          description: >-
            Conditional, should be present if PAN has non Visa Network
            associated
          items:
            required:
              - aftDomParticipant
              - aftXbParticipant
              - billingCurrencyCode
              - billingCurrencyMinorDigits
              - cardIssuerCountryCode
              - networkId
              - octDomParticipant
              - octXbParticipant
            type: object
            properties:
              networkId:
                type: integer
                description: >-
                  This contains a code that identifies the network.<br>Refer to
                  <a
                  href="/request_response_codes#network_id_and_sharing_group_code">Network
                  Id</a>
              cardTypeCode:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  The code of account funding source for the card, e.g. Credit,
                  Debit, Prepaid, Charge, Deferred Debit.<br>Refer to <a
                  href="/request_response_codes#card_type">cardTypeCode</a>
              octFastFunds:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether OCTs fast push funds are allowed.<br><br>Y -
                  Fast Funds is supported for Domestic and cross-border. <br>D -
                  Fast Funds is supported for Domestic only. <br>N - Fast Funds
                  is not supported
              aftXbParticipant:
                type: string
                description: Pull Funds(AFT) Cross Border Indicator.
              cardPlatformCode:
                maxLength: 2
                type: string
                description: >-
                  Indicates the type of card. This is a 2-character alphabetic
                  code.<br>BZ -  Business.<br>CN -  Consumer.<br>CO - 
                  Commercial.<br>GV -  Government.
              octXbParticipant:
                type: string
                description: Push Funds(OCT) Cross Border Indicator.
              aftDomParticipant:
                type: string
                description: >-
                  Pull Funds(AFT) Domestic Indicator.<br> <b> Note:</b>  <br>
                  Supported only in US for domestic transactions involving Push
                  Payments Gateway Service.
              gamingAndGambling:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether OCTs online gaming or Gambling payout are
                  allowed. <br><br>Y - Issuer is participating in gaming
                  payments. <br>N - Issuer is not participating in gaming
                  payments.
              octDomParticipant:
                type: string
                description: >-
                  Push Funds(OCT) Domestic Indicator.<br> <b> Note:</b>  <br>
                  Supported only in US for domestic transactions involving Push
                  Payments Gateway Service.
              billingCurrencyCode:
                type: integer
                description: >-
                  Use a 3-digit numeric currency code for the card billing
                  currency of the PAN.<br>Refer to <a
                  href="/request_response_codes#currency_codes">ISO Codes</a>
              cardIssuerCountryCode:
                type: integer
                description: >-
                  Refer to <a
                  href="/request_response_codes#iso_country_codes">ISO Codes</a>
              billingCurrencyMinorDigits:
                type: integer
                description: >-
                  Identifies the number of decimal positions that should be
                  present in any amounts for the requested card's billing
                  currency.
        visaNetworkInfo:
          type: array
          description: Conditional, should be present if PAN has Visa Network associated
          items:
            required:
              - billingCurrency
              - billingCurrencyCodeMinorDigits
              - cardPlatformCode
              - cardProductType
              - comboCardRange
              - issuerCountryCode
              - issuerName
              - moneyTransferFastFundsCrossBorder
              - moneyTransferFastFundsDomestic
              - moneyTransferPushFundsCrossBorder
              - moneyTransferPushFundsDomestic
              - nonMoneyTransferFastFundsCrossBorder
              - nonMoneyTransferFastFundsDomestic
              - nonMoneyTransferPushFundsCrossBorder
              - nonMoneyTransferPushFundsDomestic
              - onlineGamblingFastFundsCrossBorder
              - onlineGamblingFastFundsDomestic
              - onlineGamblingPushFundsCrossBorder
              - onlineGamblingPushFundsDomestic
            type: object
            properties:
              issuerName:
                maxLength: 240
                type: string
                description: Name of the recipient issuer.
              accountType:
                maxLength: 8
                minLength: 2
                type: string
                description: >-
                  This is used to identify the account type of the
                  recipientPrimaryAccountNumber in the request. Below are the
                  possible values. <br><br><b>DEBIT</b><br><b>CREDIT</b><br><br>
                  Processing codes for Debit account Type <br>10-Saving
                  account<br>20-Checking account<br><br>Processing codes for
                  Credit account Type<br>30-Credit card account<br><br> If
                  accountType is not provided for Combo Card, then response will
                  display<br><br>10 or 20 for Combo Card  <br>30 for Combo Card
              comboCardRange:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates the type of Combo card.<br>0 - Not a Combo
                  card.<br>2 - Combo card.
              billingCurrency:
                type: integer
                description: >-
                  3-digit numeric currency code for the card billing currency of
                  the PAN.<br>Refer to <a
                  href="/request_response_codes#currency_codes">ISO
                  Codes</a></br>
              cardProductType:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  The code of account funding source for the card, e.g. Credit,
                  Debit, Prepaid, Charge, Deferred Debit.<br>Refer to <a
                  href="/request_response_codes#card_type">cardProductType</a></br>
              cardSubTypeCode:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  This is an Optional Field. Indicates the type of prepaid card.
                  This is a single-character alphabetic code.<br>R - 
                  Reloadable.<br>N -  Non-reloadable.
              cardPlatformCode:
                maxLength: 2
                minLength: 1
                type: string
                description: >-
                  Indicates the type of card. This is a 2-character alphabetic
                  code.<br>BZ -  Business.<br>CN -  Consumer.<br>CO - 
                  Commercial.<br>GV -  Government.
              geoRestrictionInd:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  This field will determine if the recipient issuer can accept
                  transactions from the Originator country.<br>Y - Transactions
                  cannot be accepted from the sender country.<br>N -
                  Transactions are allowed.
              issuerCountryCode:
                type: integer
                description: >-
                  Country code of the recipient issuers country.<br> Refer to
                  <a href="/request_response_codes#iso_country_codes">ISO
                  Country Codes (numeric)</a>
              prepaidSubtypeCode:
                maxLength: 2
                minLength: 2
                type: string
                description: >-
                  Indicates the subtype code of prepaid product. This is a
                  2-character alphabetic code and below are the possible
                  values.<br>GP = General Purpose <br>AC = Brazil Agriculture
                  Maintenance Account/Custeio <br>AE = Brazil Agriculture Debit
                  Account/Electron <br>AG = Brazil Agriculture <br>AI = Brazil
                  Agriculture Investment Loan/Investimento <br>CG = Brazil Cargo
                  <br>CS = Construction<br> <br>DS = Distribution<br> <br>EN =
                  Large Market Enterprise <br>EX = Small Market Expenses<br>
                  <br>LP = Visa Large-Purchase Advantage (VLPA) <br>MA = mVISA
                  Agent H <br>MB = mVisa Merchant Payment <br>MG = Visa Mobile
                  General <br>MX = Merchant Agent <br>TK = Service Advantage
                  <br>VA = Brazil Food or Supermarket/Alimentacao Visa Vale
                  <br>VF = Brazil Fuel/Flex Visa Vale <br>VM = Meal Voucher
                  <br>VN = Visa Vale Food Voucher <br>VR = Brazil Food or
                  Restaurant/Refeicao Visa Vale
              accountCurrencyCode:
                type: integer
                description: >-
                  Indicates a currency code, use a 3-digit numeric currency code
                  for the card billing currency of the PAN. Refer <a
                  href='https://developer.visa.com/request_response_codes#iso_country_and_currency_codes'>ISO
                  Codes</a>
              pullFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Cross-border pull funds transfer eligibility. Below are the
                  possible values, <br><br> Y <br> N <br>
              billingCurrencyCodeMinorDigits:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Identifies the number of decimal positions that should be
                  present in any amounts for the requested card's billing
                  currency.
              moneyTransferFastFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic  money transfer OCTs (fast push
                  funds) are allowed.<br>Y - Domestic money transfer Fast Fund
                  OCTs are enabled.<br>N - Domestic money transfer Fast Fund
                  OCTs are not enabled.
              moneyTransferPushFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic  money transfer OCTs (push funds)
                  are allowed.<br>Y - Domestic money transfer OCTs are
                  allowed.<br>N - Domestic money transfer OCTs are blocked.
              onlineGamblingFastFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic gambling OCTs (fast push funds) are
                  allowed.<br>Y - Domestic gambling Fast Fund OCTs are
                  enabled.<br>N - Domestic gambling Fast Fund OCTs are not
                  enabled.
              onlineGamblingPushFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic gambling OCTs (push funds) are
                  allowed.<br>Y - Domestic gambling OCTs are allowed.<br>N -
                  Domestic gambling OCTs are blocked.
              moneyTransferFastFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border money transfer OCTs (fast push
                  funds) are allowed.<br>Y - Cross-border money transfer Fast
                  Fund OCTs are enabled.<br>N - Cross-border money transfer Fast
                  Fund OCTs are not enabled.
              moneyTransferPushFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border money transfer OCTs (push
                  funds) are allowed.<br>Y - Cross-border money transfer OCTs
                  are allowed.<br>N - Cross-border money transfer OCTs are
                  blocked.
              nonMoneyTransferFastFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic non-money transfer OCTs (fast push
                  funds) are allowed.<br>Y - Domestic non-money transfer Fast
                  Fund OCTs are enabled.<br>N - Domestic non-money transfer Fast
                  Fund OCTs are not enabled.
              nonMoneyTransferPushFundsDomestic:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether domestic non-money transfer OCTs (push
                  funds) are allowed.<br>Y - Domestic non-money transfer OCTs
                  are allowed.<br>N - Domestic non-money transfer OCTs are
                  blocked.
              onlineGamblingFastFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border gambling OCTs (fast push funds)
                  are allowed.<br>Y - Cross-border gambling Fast Fund OCTs are
                  enabled.<br>N - Cross-border gambling Fast Fund OCTs are not
                  enabled.
              onlineGamblingPushFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border gambling OCTs (push funds) are
                  allowed.<br>Y - Cross-border gambling OCTs are allowed.<br>N -
                  Cross-border gambling OCTs are blocked.
              pushFundsCrossBorderAuthApprovalInd:
                maxLength: 16
                minLength: 2
                type: string
                description: >-
                  Indicates an auth approval rate for Cross border OCT of the
                  issuer account range/BIN of the recipient card for the last
                  three months. Below are the possible values.<br><br> READY<br>
                  OPTIMIZED <br>NON-OPTIMIZED
              nonMoneyTransferFastFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border  non-money transfer OCTs (fast
                  push funds) are allowed.<br>Y - Cross-border non-money
                  transfer Fast Fund OCTs are enabled.<br>N - Cross-border
                  non-money transfer Fast Fund OCTs are not enabled.
              nonMoneyTransferPushFundsCrossBorder:
                maxLength: 1
                minLength: 1
                type: string
                description: >-
                  Indicates whether cross-border  non-money transfer OCTs (push
                  funds) are allowed.<br>Y - Cross-border non-money transfer
                  OCTs are allowed.<br>N - Cross-border non-money transfer OCTs
                  are blocked.
    FundsTransferInquiryRequest-1:
      required:
        - primaryAccountNumber
        - retrievalReferenceNumber
        - systemsTraceAuditNumber
      type: object
      properties:
        acquiringBin:
          type: integer
          description: >-
            The Bank Identification Number (BIN) under which your Funds Transfer
            application is registered. This must match the information provided
            during enrollment.
        cardPlatformCode:
          maxLength: 2
          minLength: 2
          type: string
          description: >-
            Indicates the type of card. This is a 2-character alphabetic
            code.<br>BZ -  Business.<br>CN -  Consumer.<br>CO - 
            Commercial.<br>GV -  Government.
        sharingGroupCode:
          maxLength: 30
          minLength: 1
          type: string
          description: >-
            This field is optionally used by Push Payments Gateway participants
            (merchants and acquirers) to get the attributes for specified
            networks only. The networks specified in this field must be a subset
            of the information provided during program enrollment. Refer to <a
            href="/request_response_codes#network_id_and_sharing_group_code">
            Sharing Group Code </a><br>Note:<br>Supported only in US for
            domestic transactions involving Push Payments Gateway Service.
        primaryAccountNumber:
          maxLength: 19
          minLength: 13
          type: string
          description: >-
            The primary account number for which account attributes are being
            requested
        systemsTraceAuditNumber:
          maxLength: 6
          minLength: 6
          type: string
          description: >-
            A unique value should be used for each API method where this is
            required. If this is used for funds transfer, please refer to <a
            href="/capabilities/visa_direct/reference#visa_direct__funds_transfer__v1__pullfunds"
            > PullFundsTransactions POST</a> Funds Transfer API for more
            details.
        retrievalReferenceNumber:
          maxLength: 12
          minLength: 12
          type: string
          description: >-
            A value used to tie together service calls related to a single
            financial transaction.<br>Recommended Format: ydddhhnnnnnn<br>The
            first fours digits must be a valid yddd date in the Julian date
            format, where the first digit = 0-9 (last digit of current year) and
            the next three digits = 001-366 (number of the day in the
            year).<br>hh can be the two digit hour in a 24 hour clock (00-23)
            during which the transaction is performed.<br> nnnnnn can be the
            SystemsTraceAuditNumber or any 6 digit number.
    FundsTransferInquiryRequest:
      required:
        - primaryAccountNumber
        - retrievalReferenceNumber
        - systemsTraceAuditNumber
      type: object
      properties:
        accountType:
          maxLength: 6
          minLength: 5
          type: string
          description: >-
            This is used to identify the account type of the
            recipientPrimaryAccountNumber in the request. Below are the possible
            values. <br><br><b>DEBIT</b><br><b>CREDIT</b><br><br> Processing
            codes for Debit account Type <br>10-Saving account<br>20-Checking
            account<br><br>Processing codes for Credit account Type<br>30-Credit
            card account<br><br> If accountType is not provided for Combo Card,
            then response will display<br><br>10 or 20 for Combo Card  <br>30
            for Combo Card
          enum:
            - DEBIT
            - CREDIT
        acquiringBin:
          type: integer
          description: >-
            This is an optional field. The Bank Identification Number (BIN)
            under which your Funds Transfer application is registered. This must
            match the information provided during enrollment.<br><br> <b> NOTE:
            </b> <br> PAN check digit validation only occurs for mVisa BIN<br>If
            acquiring BIN is not passed in request there is no length/check
            digit validation even for mvisa
        sharingGroupCode:
          maxLength: 30
          minLength: 1
          type: string
          description: >-
            This field is optionally used by Push Payments Gateway participants
            (merchants and acquirers) to get the attributes for specified
            networks only. The networks specified in this field must be a subset
            of the information provided during program enrollment. Refer to <a
            href="/request_response_codes#network_id_and_sharing_group_code">
            Sharing Group Code</a>.<br>Note:<br>Supported only in US for
            domestic transactions involving Push Payments Gateway Service.
        acquirerCountryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: >-
            This is an optional field. <br>Use a 3-digit numeric country code
            for the country where the Funds Transfer solution is registered.
            This must match the information provided during program enrollment.
        primaryAccountNumber:
          maxLength: 19
          minLength: 13
          type: string
          description: >-
            The primary account number or Token for which account attributes are
            being requested
        systemsTraceAuditNumber:
          maxLength: 6
          minLength: 6
          type: string
          description: A numeric value is required.
        retrievalReferenceNumber:
          maxLength: 12
          minLength: 12
          type: string
          description: A numeric value is required.
    FundsTransferInquiryResponse-1:
      type: object
      properties:
        issuerName:
          maxLength: 240
          type: string
          description: >-
            Name of the recipient issuer.<br> <b> Note:</b>  <br> This field is
            only applicable for Visa networks.
        cardTypeCode:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            The code of account funding source for the card, e.g. Credit, Debit,
            Prepaid, Charge, Deferred Debit.<br>Refer to <a href="/. 
            request_response_codes#card_type">cardTypeCode</a>
        aftXbParticipant:
          type: string
          description: >-
            Pull Funds(AFT) Cross Border Indicator.<br> <b> Note:</b>  <br>
            Supported only in US for domestic transactions involving Push
            Payments Gateway Service.
        octXbParticipant:
          type: string
          description: >-
            Push Funds(OCT) Cross Border Indicator.<br> <b> Note:</b>  <br>
            Supported only in US for domestic transactions involving Push
            Payments Gateway Service.
        aftDomParticipant:
          type: string
          description: >-
            Pull Funds(AFT) Domestic Indicator.<br> <b> Note:</b>  <br>
            Supported only in US for domestic transactions involving Push
            Payments Gateway Service.
        geoRestrictionInd:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            This field will determine if the recipient issuer can accept
            transactions from the Originator country.<br>Y - Transactions cannot
            be accepted from the sender country.<br>N - Transactions are
            allowed..<br> <b> Note:</b>  <br> This field is only applicable for
            Visa networks.
        octDomParticipant:
          type: string
          description: >-
            Push Funds(OCT) Domestic Indicator.<br> <b> Note:</b>  <br>
            Supported only in US for domestic transactions involving Push
            Payments Gateway Service.
        fastFundsIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Indicates the funds delivery speed of the primaryAccountNumber
            submitted in the request. If the value is 'B', 'C', or 'D', funds
            will be available to the recipient within 30 minutes of successful
            transfer. If the value is 'N', the funds will be available within 2
            business days of successful transfer.<br>Refer to <a href="/. 
            request_response_codes#fast_funds_indicator">fastFundsIndicator</a>.<br>
            <b> Note:</b>  <br> This field is only applicable for Visa networks.
        billingCurrencyCode:
          type: integer
          description: >-
            Use a 3-digit numeric currency code for the card billing currency of
            the PAN.<br>Refer to <a
            href="/request_response_codes#currency_codes">ISO Codes</a>.<br> <b>
            Note:</b>  <br> This field is only applicable for Visa networks.
        cardIssuerCountryCode:
          type: integer
          description: >-
            Refer to <a href="/request_response_codes#iso_country_codes">ISO
            Codes</a>.<br> <b> Note:</b>  <br> This field is only applicable for
            Visa networks.
        numberOfMinorUnitsUsed:
          type: integer
          description: >-
            Identifies the number of decimal positions that should be present in
            any amounts for the requested card's billing currency.<br> <b>
            Note:</b>  <br> Supported only in US for domestic transactions
            involving Push Payments Gateway Service.
        currencyCodeDestination:
          maxLength: 3
          minLength: 3
          type: string
          description: >-
            Use a 3-digit numeric currency code for the card billing currency of
            the primaryAccountNumber. Refer to <a
            href="/request_response_codes#iso_country_codes">ISO Codes</a><br>
            <b> Note:</b>  <br> Supported only in US for domestic transactions
            involving Push Payments Gateway Service.
        pushFundsBlockIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Indicates whether the PAN submitted in the request can receive Push
            Funds(OCTs).<br>Refer to <a
            href="/request_response_codes#pushFundsIndicator">pushFundsBlockIndicator</a>.<br>
            <b> Note:</b>  <br> This field is only applicable for Visa networks.
        onlineGambingBlockIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Indicates whether the primaryAccountNumber submitted in the request
            can receive Push Funds(OCTs) for gambling-type transactions. If the
            value is "Y", then the account cannot receive gambling Push Funds
            (OCTs). If the value is "N", the account can receive gambling Push
            Funds (OCTs).<br> <b> Note:</b>  <br> This field is only applicable
            for Visa networks.
        countryCodeIssuingInstitution:
          maxLength: 3
          minLength: 3
          type: string
          description: >-
            Refer to <a href="/request_response_codes#iso_country_codes">ISO
            Codes</a><br> <b> Note:</b>  <br> Supported only in US for domestic
            transactions involving Push Payments Gateway Service.
        billingCurrencyCodeMinorDigits:
          maxLength: 1
          minLength: 1
          type: string
          description: >-
            Identifies the number of decimal positions that should be present in
            any amounts for the requested card's billing currency.<br> <b>
            Note:</b>  <br> This field is only applicable for Visa networks.
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  callbacks: {}
x-tagGroups:
  - name: API Reference
    tags:
      - Funds Transfer Attributes Inquiry API
